extends ../../layout

block head
  -
    title = 'TransportVic - Tracker/BusMinder - By Service'
    description = `Tracking all buses on Service ${service}`
  title #{title}
  link(rel='preload' as='style' href='/static/css/tracker/results.css')

block title
  span BusMinder Tracker - By Service
  
block style
  link(rel='stylesheet' href='/static/css/tracker/results.css')

block content
  h1.title Tracking Bus Service #{service} on #{now.format('dddd, MMMM Do YYYY HH:mm')}
  if buses.length
    for bus in buses
      div.trip
        a #{bus.fleet}: #{bus.routeNumber} to #{bus.routeDestination}
  else
    h2 No Buses Currently on #{service}
