html
  head
    script(src=`${staticBase}/static/scripts/util.js`)
    script(src=`${staticBase}/static/scripts/mockups/sss-new/platform.js` async)
    script(src=`${staticBase}/static/scripts/mockups/pids-utils.js`) 
    link(rel='stylesheet' href=`${staticBase}/static/css/mockups/base-style.css`)
    link(rel='stylesheet' href=`${staticBase}/static/css/mockups/actual-line-colours.css`)
    link(rel='stylesheet' href=`${staticBase}/static/css/mockups/16-9-pids-base.css`)
    link(rel='stylesheet' href=`${staticBase}/static/css/mockups/sss-new/platform.css`)
      
    link(rel='preload' as='style' href=`${staticBase}/static/css/mockups/16-9-pids-base.css`)
    link(rel='preload' as='style' href=`${staticBase}/static/css/mockups/base-style.css`)
    link(rel='preload' as='image' href=`${staticBase}/static/images/mockups/announcements.svg`)
    link(rel='preload' as='image' href=`${staticBase}/static/images/mockups/no-boarding-train.svg`)
  body
    div.content
      mixin platform()
        div(style='display: none;').fullMessage
          img(src=`${staticBase}/static/images/mockups/announcements.svg`)
          p Please Listen
          p for Announcements
        div(style='display: flex;').message
          p.large Checking departures
          p.large Please wait...
        div(style='display: none;').firstDeparture
          div.top
            div.topLineBanner.pakenham
            span.firstDestination 
          div.firstDepartureInfo
            div.scheduledDiv
              span Scheduled
              span.scheduled 
            div.departingDiv
              span Departing
              div
                span.departing 
                span.min min
            div.platformDiv
              span Platform
              span.platform 
          span.firstStoppingType --
          div.stops
            
            
      div.platforms
        div.platformContainer.left
          +platform()
        div.platformContainer.right
          +platform()
      div.clock
        span #{now.format('h:mm:ss')}
