html
  head
    link(rel='stylesheet' href='/static/css/mockups/summary.css')
  body
    div.container
      for i in [1, 3, 5, 7, 9, 11, 13, 15]
        - let url = `/mockups/sss-new/platform/${i}-${i+1}`
        div.pid.horizontal
          div.title
            a(href=url)=`/SSS/platform/${i}-${i + 1}`
          iframe(src=url)

      div.pid.vertical
        - let url = '/mockups/sss-new/coach?start=56&size=3'
        div.title
          a(href=url) /SSS/coach/56-58
        iframe(src=url)

      for i in [59, 63, 67]
        - let url = `/mockups/sss-new/coach?start=${i}`
        div.pid.vertical
          div.title
            a(href=url)=`/SSS/coach/${i}-${i + 4}`
          iframe(src=url)
