html
  head
    script(src=`${staticBase}/static/scripts/util.js`)
    script(src=`${staticBase}/static/scripts/vendor/dot-matrix/fonts.js`) 
    script(src=`${staticBase}/static/scripts/vendor/dot-matrix/matrix.js`) 
    script(src=`${staticBase}/static/scripts/vendor/dot-matrix/renderer.js`) 
    
    script(src=`${staticBase}/static/scripts/mockups/reload-metro-led-pids.js` async) 
    link(rel='stylesheet' href=`${staticBase}/static/css/mockups/base-style.css`)
    link(rel='stylesheet' href=`${staticBase}/static/css/mockups/metro-led-pids/metro-led-pids.css`)
      
    link(rel='preload' as='style' href=`${staticBase}/static/css/mockups/base-style.css`)
    style#led-style
  body
    div.content
      div.pids-box
        div.top-panel
          div.white-band
          div.text-row
            span.next-train Next Train
            span.destination Destination
            div.mins-to-depart
              span Mins to
              span Depart
        div.led-panel-border
          div.led-panel
            div.matrix-container
              div#top-pids.pids
              div#bottom-pids.pids
