if trip.runID
  div.infoRow
    if trip.isRailReplacementBus && trip.block && trip.block.match(/^[A-Z]{2,3}\d{3,}/)
      span Run #{trip.runID} (Shift #{trip.block})
    else
      span Run #{trip.runID}
    if trip.vehicle
      - let { size, type } = trip.vehicle
        div.vehicle
          span #{size}x 
          img(src=`/static/images/icons/${type.toLowerCase()}.svg`)
  if trip.vehicle && trip.vehicle.consist.length
    div.liveConsist
      span.header Live Tracking
      span.consist #{trip.vehicle.consist.join('-')}

if trip.isRailReplacementBus
  div.departure.noTiming
    -
      let cssClass = `${codedLineName}-line`
      if (trip.routeName === 'City Circle') cssClass = 'city-circle' // Unlikely to happen but just in case
    a(class=`leftContainer ${cssClass}`)
      span.topText Rail Bus
      if trip.headsign
        span.bigNumber #{trip.headsign}
      else
        img(src=`${staticBase}/static/images/clear-icons/bus.svg`)
    a.departureInfo
      span.towards #{trip.routeName} Towards
      span.destination #{trip.destination.slice(0, -16)}
      span.broadDepartureInfo.important Rail Replacement Bus
  div.infoRow
    span Replacement Bus Stop
div.timing-list
  for stop in trip.stopTimings
    div.timingRow(id='stop-' + stop.stopGTFSID)
      a.departureInfo(href=`/metro/timings/${stop.stopName.toLowerCase().replace(/ /g, '-').slice(0, -16)}`)
        span.stopName=stop.stopName
        if trip.cancelled || stop.cancelled
          span.info.cancelled CANCELLED
        else if stop.platform
          span.platform=`Platform ${stop.platform}`
      div(class=`timing ${stop.headwayDevianceClass}`)
        span=stop.pretyTimeToDeparture
        span=stop.departureTime || stop.arrivalTime
