if trip.runID
  - let { vehicle } = trip
  div.infoRow
    span=`Run ${trip.runID}`
    if vehicle
      div.vehicle
        span=vehicle.size ? `${vehicle.size}x` : ''
        img(src=`/static/images/icons/${vehicle.type.toLowerCase().replace('.', '').replaceAll(' ', '-')}.svg`)
  if vehicle && vehicle.consist && vehicle.consist.length
    div.liveConsist
      span.header Live Tracking
      span.consist #{vehicle.consist.join('-')} (Note: Only leading carriage shown)

if trip.flags && trip.flags.heatTT
  div.infoRow.heat-timetable
    span Extreme Heat Timetable Today

div.timing-list
  for stop in trip.stopTimings
    div.timingRow(id='stop-' + stop.stopGTFSID)
      a.departureInfo(href=`/vline/timings/${stop.stopName.toLowerCase().replace(/ /g, '-').slice(0, -16)}`)
        span.stopName=stop.stopName.slice(0, -16)
        if stop.cancelled || trip.cancelled
          span.info.cancelled CANCELLED
        else if stop.platform
          span.platform=`Platform ${stop.platform}`
      div(class=`timing ${stop.headwayDevianceClass}`)
        span=stop.pretyTimeToDeparture
        span=stop.departureTime || stop.arrivalTime
