if trip.runID
  div.infoRow
    span=`Run ${trip.runID}`
    -
      let {vehicle} = trip
      let parts
      if (vehicle) {
        let { consist } = vehicle

        if (consist[0].startsWith('N')) {
          parts = [null, 'N']
        } else if (consist[0].startsWith('A')) {
          parts = [null, 'A']
        } else if (consist[0].includes('VL') || consist[0].includes('VS')) {
          parts = ['3', 'vlocity']
        } else {
          parts = ['1', 'sprinter']
        }
      }
    if vehicle && parts && parts[1]
      div.vehicle
        if parts[0]
          span=parts[0] + 'x'
        else
          span
        img(src=`/static/images/icons/${parts[1].toLowerCase()}.svg`)
  if vehicle && vehicle.consist && vehicle.consist.length
    div.liveConsist
      span.header Live Tracking
      span.consist #{vehicle.consist.join('-')} (Note: Only leading carriage shown)
div.timing-list
  for stop in trip.stopTimings
    div.timingRow(id='stop-' + stop.stopGTFSID)
      a.departureInfo(href=`/vline/timings/${stop.stopName.toLowerCase().replace(/ /g, '-').slice(0, -16)}`)
        span.stopName=stop.stopName.slice(0, -16)
        if stop.cancelled || trip.cancelled
          span.info.cancelled CANCELLED
        else if stop.platform
          span.platform=`Platform ${stop.platform}`
      div(class=`timing ${stop.headwayDevianceClass}`)
        span=stop.pretyTimeToDeparture
        span=stop.departureTime || stop.arrivalTime
