extends ../layout

block head
  title TransportVic - Stops Nearby
  
  -
    title = 'Stops Nearby'
    description = 'Find Public Transport stops & stations near you'
  
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/bus.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/coach.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/tram.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/metro.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/vline.svg`)
  link(rel='preload' as='style' href=`${staticBase}/static/css/search.css`)
  
block title
  span Stops Nearby

block style
  link(rel='stylesheet' href=`${staticBase}/static/css/search.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/timings/base-style.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/content-error.css`)
