-
  let stopCSSClasses = {
    'bus': 'busStop',
    'metro train': 'metroStation',
    'regional train': 'vlineStation',
    'regional coach': 'regionalCoachStop',
    'tram': 'tramStop'
  }

  let stopIcons = {
    'bus': 'bus',
    'metro train': 'metro',
    'regional train': 'vline',
    'regional coach': 'coach',
    'tram': 'tram'
  }

for stop in stops
  -
    let codedName = stop.codedName
    if (stop.mode.endsWith('train'))
      codedName = codedName.slice(0, -16)
    let url = `/${stopIcons[stop.mode]}/timings/`
    if (stop.mode === 'bus' || stop.mode === 'tram')
      url += `${stop.codedSuburb}/`
    url += `${codedName}`
  a(href=url class=`result ${stopCSSClasses[stop.mode]}`)
    div.leftContainer.miniIcon
      img(src=`/static/images/clear-icons/${stopIcons[stop.mode]}.svg`)
      span.distance=stop.smallestDistance + ' metres'
    div.resultDetails
      span=stop.type + ' in ' + stop.suburb
      span=stop.stopName
