extends ../../layout

block head
  title TransportVic - Tracker/V/Line - By Date
  
block title
  span V/Line Tracker - By Date
  
block style
  link(rel='stylesheet' href='/static/css/tracker/bus-results.css')

block content
  h1.title Tracking V/Line Trips on #{date.format('dddd, MMMM Do YYYY')}
  for trip in trips
    div(class=`trip ${trip.active ? '' : 'inactive'}`)
      a(href=trip.url) ##{trip.runID}: #{trip.departureTime} #{trip.origin} - #{trip.destination}: #{trip.consist.join('-')}
