html
  head
    link(rel='stylesheet' href=`${staticBase}/static/css/mockups/summary.css`)
  body
    div.container
      for i in [1, 3, 5, 7, 9, 11, 13, 15]
        - let url = `/mockups/sss/platform/${i}-${i+1}`
        div.pid.horizontal
          div.title
            a(href=url)=`/SSS/platform/${i}-${i + 1}`
          iframe(src=url)
