extends layout

block head
  title TransportVic - About
  -
    title = 'TransportVic - About'
    description = 'About TransportVic'

  link(rel='preload' as='style' href=`${staticBase}/static/css/about.css`)
  
block title
  span TransportVic - About

block style
  link(rel='stylesheet' href=`${staticBase}/static/css/about.css`)

block content
  h1 TransportVic - A Transport Application for Victoria
  h2 About
  a(href='https://github.com/TransportVic/TransportVic2/commit/' + buildNumber) Version 2-#{buildNumber}: #{buildComment}
  a(href='https://forms.gle/v5tNack8Ts7oyQzS6') Send feedback here
  p All timetable data is sourced from 
    a(href='https://ptv.vic.gov.au') Public Transport Victoria
  p Geospatial data is sourced from 
    a(href='https://datashare.maps.vic.gov.au/') DataShare Maps
  p HTTPS Certificates are from 
    a(href='https://letsencrypt.org/') Let's Encrypt
  p Built on 
    a(href='https://nodejs.org/') NodeJS
    span  and 
    a(href='https://www.mongodb.com/') MongoDB
  p All site icons are drawn by me
  p With &lt;3 love from Unikitty
  p If you would like to please 
    a(href='https://www.patreon.com/transportsg') support me on patreon
  img(src=`${staticBase}/static/images/home/rainbow.svg`)
