extends layout

block head
  title TransportVic - Colours

block title
  span Colours

append style
  link(rel='stylesheet' href='/static/css/combined-colours.css')
  link(rel='stylesheet' href='/static/css/timings/base-style.css')

append content
  div#departures
    for operatorData in operators
      - let {cssName, originalName} = operatorData
      for i in [1, 2]
        div.departure
          a(class=`leftContainer platform ${cssName}`)
            span.bigNumber 77
          a.departureInfo
            span.towards Operator
            span.destination=originalName
            
    for tramRoute in tramRoutes
      for i in [1, 2]
        div.departure
          a(class=`leftContainer platform tram-${tramRoute}`)
            span.bigNumber=tramRoute
          a.departureInfo
            span.towards Tram
            span.destination Destination
            
    for trainLine in trainLines
      - let {cssName, originalName} = trainLine
      for i in [1, 2]
        div.departure
          a(class=`leftContainer platform ${cssName}-line`)
            span.topText Platform
            span.bigNumber 42
          a.departureInfo
            span.towards Metro Train
            span.destination=originalName
          
    for i in [1, 2]  
      div.departure
        a(class=`leftContainer platform city-loop-line`)
          span.topText Platform
          span.bigNumber 99
        a.departureInfo
          span.towards Metro Train
          span.destination City Loop Line
            
