extends layout
    
block head
  title TransportVic

  link(rel='preload' as='style' href=`${staticBase}/static/css/index.css`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/home/smartbus.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/home/search.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/home/nearby.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/home/about.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/home/rainbow.svg`)
  
block title
  span TransportVic

block style
  link(rel='stylesheet' href=`${staticBase}/static/css/index.css`)

block content
  div.wrap
    a(href='/bookmarks').feature
      img(src=`${staticBase}/static/images/home/smartbus.svg` alt='Bookmarks')
      span Bookmarks
    a(href='/search').feature
      img(src=`${staticBase}/static/images/home/search.svg` alt='Search')
      span Search
    a(href='/nearby').feature
      img(src=`${staticBase}/static/images/home/nearby.svg` alt='Nearby PT Stops')
      span Nearby PT Stops
    a(href='/links').feature
      img(src=`${staticBase}/static/images/home/about.svg` alt='Links')
      span Links

  a(href='' style='display: none').popup
    img(src=`${staticBase}/static/images/home/rainbow.svg`)
    span
