doctype html
html(lang='en-GB')
  head
    - let themeColour = '#171717'
    meta(charset='UTF-8')

    link(rel='preconnect' href=staticBase)

    link(rel='preload' as='font' href=`${staticBase}/static/fonts/Nunito.woff2` type='font/woff2' crossorigin='anonymous')
    link(rel='preload' as='style' href=`${staticBase}/static/css/base-style.css`)

    link(rel='stylesheet' href=`${staticBase}/static/css/base-style.css`)
    script(src=`${staticBase}/static/js/app.js` type='module')

    -
      let description = 'A transport app for Victoria'
      let title = 'TransportVic'
      let keywords = ''

    block head
    block style

    meta(property='og:locale' content='en-GB')
    meta(property='og:site_name' content='TransportVic')
    meta(property='og:type' content='website')
      
    meta(property='og:url' content='https://transportvic.me')
    meta(name='twitter:url' content='https://transportvic.me')
      
    meta(name='twitter:card' content='summary')
      
    meta(property='og:image' content='https://transportvic.me/static/images/favicon/favicon192.png')
    meta(name='twitter:image' content='https://transportvic.me/static/images/favicon/favicon192.png')

    meta(property='og:title' content=title)
    meta(name='twitter:title' content=title)
      
    meta(property='og:description' content=description)
    meta(name='twitter:description' content=description)
    meta(name='description' content=description)

    meta(name='keywords' content=`tram,vline,train,next 5,public transport,bus,metro,transport,victora,ferry,train times,bus times,coach,coach times,ptv${keywords ? ',' + keywords : ''}`)
    meta(name='author' content='TransportVic')
    meta(name='application-name' content='TransportVic')
    meta(name='viewport' content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width, height=device-height')
    meta(name='google' content='notranslate')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
    meta(name='apple-mobile-web-app-title' content='TransportVic')

    link(rel='icon' type='image/png' href=`${staticBase}/static/images/favicon/favicon192.png`)
    link(rel='shortcut icon' type='image/png' href=`${staticBase}/static/images/favicon/favicon192.png`)
    link(rel='apple-touch-icon' type='image/png' href=`${staticBase}/static/images/favicon/favicon192.png`)
      
    link(rel='manifest' href=`/static/app-content/manifest.json`)
    meta(name='theme-color' content=themeColour)
  body
    nav#header
      block title
      div#header-right
        block header-right
        a#home-button(href='/') Home
    div#page-content
      main#content
        block content
      div#map
    
    block postStyle
    block scripts
    //- script(src=`${staticBase}/static/scripts/sw-load.js`)
