doctype html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"
html(lang='en-GB')
  head
    - let themeColour = '#171717'
    meta(charset='UTF-8')
      
    link(rel='preload' as='font' href='/static/fonts/Nunito.woff2' crossorigin='anonymous')
    link(rel='preload' as='style' href='/static/css/base-style.css')

    link(rel='stylesheet' href='/static/css/base-style.css')
    script(src='/static/scripts/util.js')
    
    -
      let description = 'A transport app for Victoria'
      let title = 'TransportVic'
      
    block head
    block style

    meta(property='og:locale' content='en-GB')
    meta(property='og:site_name' content='TransportVic')
    meta(property='og:type' content='website')
    meta(property='og:image' content='https://vic.transportsg.me/static/images/favicon/favicon192.png')
    meta(property='og:url' content='https://vic.transportsg.me')
    meta(name='twitter:card' content='summary')
    meta(name='twitter:url' content='https://vic.transportsg.me')
    meta(name='twitter:image' content='https://vic.transportsg.me/static/images/favicon/favicon192.png')

    meta(property='og:title' content=title)
    meta(name='twitter:title' content=title)
    meta(property='og:description' content=description)
    meta(name='twitter:description' content=description)
    meta(name='description' content=description)

    meta(name='keywords' content='tram,vline,train,next 5,public transport,bus,metro,transport,victora,ferry,train times,bus times,coach,coach times,ptv')
    meta(name='author' content='Unikitty Pte. Ltd.')
    meta(name='application-name' content='TransportVic')
    meta(name='viewport' content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width, height=device-height')
    meta(name='google' content='notranslate')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

    link(rel='icon' type='image/png' href='/static/images/favicon/favicon192.png')
    link(rel='shortcut icon' type='image/png' href='/static/images/favicon/favicon192.png')
    link(rel='apple-touch-icon' type='image/png' href='/static/images/favicon/favicon192.png')
      
    link(rel='manifest' href='/static/app-content/manifest.json')
    meta(name='theme-color' content=themeColour)
  body
    nav#header
      block title
      div#header-right
        block header-right
        a#home-button(href='/') Home
    main#content
      block content
    
    block scripts
    script(src='/static/scripts/sw-load.js')
