extends layout
    
block head
  title TransportVic - Metro Map
  link(rel='stylesheet' href=`${staticBase}/static/css/vendor/leaflet-1.6.0.css`)
  script(src=`${staticBase}/static/scripts/vendor/leaflet-1.6.0.js`)
    
block title
  span Metro Map

block scripts
  script(src=`${staticBase}/static/scripts/metro-map.js`)
  
block style
  link(rel='stylesheet' href=`${staticBase}/static/css/metro-map.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/mockups/actual-line-colours.css`)
    
block content
  div#map(style='height: calc(100vh - (4vw + 4vh))')
