extends layout
    
block head
  -
    if (holidays.length === 0) {
      title = 'Invalid Public Holiday!'
    } else if (holidays.length === 1) {
      title = 'Public Holiday: ' + holidays[0].name
    } else {
      title = 'Public Holiday Details'
    }

  title TransportVic - #{title}

block style
  link(rel='stylesheet' href='/static/css/about.css')

block title
  span #{title}
  
block content
  for holiday in holidays
    div.holiday
      -
        let humanDay = holiday.day.format('dddd, MMMM Do YYYY')
        let scheduleDay = holiday.scheduleDay || '??'
      h1 #{holiday.name} (#{humanDay})
      p #{holiday.name} will fall on #{humanDay}
      if scheduleDay === '??'
        p At this point in time it is unknown what day of the week PTV will run to. Please check again closer to the day
      else 
        
        p This means that PTV will run to a #{scheduleDay} timetable, but some services might be altered or not run. Do check timetables before travelling.
        if holiday.nightNetworkRunning !== null
          if holiday.nightNetworkRunning
            p Night Network services 
              span.emphasis will be
              |  running on the day.
          else
            p Night Network services will not be running on the day.

  p This page was generated automatically. If there are any errors, please leave feedback 
    a(href='https://forms.gle/v5tNack8Ts7oyQzS6') here
  br
