extends ../layout

block head
  title=`TransportVic - ${stop.stopName}`

block title
  span=stop.stopName

block scripts
  script(src='/static/scripts/timings.js' async)
  
append style
  link(rel='stylesheet' href='/static/css/combined-colours.css')
  link(rel='stylesheet' href='/static/css/timings/base-style.css')

append content
  div#departures
    for service in services
      -
        let serviceDepartures = groupedDepartures[service]
        let destinations = Object.keys(serviceDepartures).sort((a, b) => a.length - b.length)
        let hasNumber = service !== ''
      for destination in destinations
        -
          let destinationDepartures = serviceDepartures[destination]
          let departures = destinationDepartures.slice(0, 4)
        div(class=`departure${hasNumber ? '' : ' no-number'}`)
          // todo route colours
          if hasNumber
            a(class=`leftContainer platform ${classGen(destinationDepartures[0])}`)
              span
              span=destinationDepartures[0].routeNumber
              if destinationDepartures[0].bay
                span=destinationDepartures[0].bay
          a.departureInfo
            if !hasNumber
              span=destinationDepartures[0].trip.routeName
            span.towards Towards
            span.destination=destinationDepartures[0].destination
            if destinationDepartures[0].guidanceText
              span.info=destinationDepartures[0].guidanceText
            if destinationDepartures[0].viaText
              span.info(style=`width: calc(100vw - (3vw + 3vh) * ${departures.length} - (5vw + 5vh) - (1vw + 1vh) - 1.5vw)`)=destinationDepartures[0].viaText
          div.timings
            for i in Array(4 - departures.length)
              div.timing.mini(style='display: none')
            for departure in departures
              a(href=departure.tripURL class=`timing mini ${departure.headwayDevianceClass}`)
                div.stats
                  if departure.vehicleDescriptor.operator === 'Yarra Trams'
                    if departure.tram.data.ac
                      img(src='/static/images/decals/ac.svg')
                    if departure.tram.data.lf
                      img(src='/static/images/decals/wheelchair.svg')
                span=departure.prettyTimeToArrival
                span=departure.scheduledDepartureTime.format('HH:mm')
                if departure.vehicleDescriptor
                  if departure.vehicleDescriptor.supplier === 'Smartrak'
                    if departure.busRego
                      span=`#${departure.busRego}`
                    else
                      span=`${departure.vehicleDescriptor.id}`
                  else if departure.vehicleDescriptor.operator === 'Yarra Trams'
                    span=`${departure.tram.model}.${departure.tram.id}`
