extends ../layout

block head
  -
    title = `TransportVic - ${stop.stopName}`
    description = `Viewing the Next ${maxDepartures} ${currentMode} departures from ${stop.stopName}`
    
    switch (currentMode) {
      case 'bus':
        themeColour = '#d7832c'
        break
      case 'tram':
        themeColour = '#20b734'
        break
    }
    
  title #{title}
    
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/bus.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/coach.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/tram.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/metro.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/vline.svg`)
    
  link(rel='preload' as='style' href=`${staticBase}/static/css/bus-operators.css`)
  link(rel='preload' as='style' href=`${staticBase}/static/css/combined-colours.css`)
  link(rel='preload' as='style' href=`${staticBase}/static/css/timings/base-style.css`)

  meta(name='stop-name' content=stop.stopName)
  meta(name='stop-suburb' content=stop.suburb[0])
  meta(name='stop-id' content=`${stop.cleanSuburbs[0]}/${stop.cleanName}`)

block title
  span=stop.stopName
  
block header-right
  if currentMode === 'bus'
    label#clock-label(for='departureDateTime')
      img#clock(src=`${staticBase}/static/images/decals/clock.svg` alt='change departure time' tabindex='0'  width='30' height='30')
    input#departureDateTime(type="datetime-local" tabindex="-1")
    div#clockDropdown
      div
        input#departureDate(type="date")
        input#departureTime(type="time")
        input#confirmTime(type="button" value="Update")
  a#mapLink(href=`/stop-preview/${stop.cleanSuburbs[0]}/${stop.cleanName}`)
    img#mapIcon(src=`${staticBase}/static/images/decals/map.svg` alt='map icon' width='30' height='30')
  img#bookmark(src=`${staticBase}/static/images/decals/bookmark.svg` alt='bookmark icon'  width='30' height='30')

append style
  link(rel='stylesheet' href=`${staticBase}/static/css/timings/base-style.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/vendor/leaflet-1.6.0.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/vendor/leaflet-locate-0.85.1.css`)

append postStyle
  link(rel='stylesheet' href=`${staticBase}/static/css/site-colours.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/bus-operators.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/combined-colours.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/constant-colours.css`)

append content
  include mode-switch
  div#departures
    include ./templates/grouped