extends ../layout

block head
  title=`TransportVic - ${stop.stopName}`

block title
  span=stop.stopName

block scripts
  script(src='/static/scripts/timings.js' async)
  
append style
  link(rel='stylesheet' href='/static/css/combined-colours.css')
  link(rel='stylesheet' href='/static/css/timings/base-style.css')

append content
  div#departures
    for service in services
      -
        let serviceDepartures = groupedDepartures[service]
        let destinations = Object.keys(serviceDepartures).sort((a, b) => a.length - b.length)
        let hasNumber = service !== ''
      for destination in destinations
        - let destinationDepartures = serviceDepartures[destination]
        div(class=`departure${hasNumber ? '' : ' no-number'}`)
          // todo route colours
          if hasNumber
            a(class=`leftContainer platform ${classGen(destinationDepartures[0])}`)
              span
              span=service
          a.departureInfo
            if !hasNumber
              span=destinationDepartures[0].trip.routeName
            span Towards
            span=destination
          div.timings
            - let departures = destinationDepartures.slice(0, 4)
              
            for i in Array(4 - departures.length)
              div.timing.mini(style='display: none')
            for departure in departures
              a(href=departure.tripURL class=`timing mini ${departure.headwayDevianceClass}`)
                div.stats
                  if departure.vehicleDescriptor.operator === 'Yarra Trams'
                    - if (!departure.tram.data) console.log(departure.tram)
                    if departure.tram.data.ac
                      img(src='/static/images/decals/ac.svg')
                    if departure.tram.data.lf
                      img(src='/static/images/decals/wheelchair.svg')
                span=departure.prettyTimeToArrival
                span=departure.scheduledDepartureTime.format('HH:mm')
                if departure.vehicleDescriptor
                  if departure.vehicleDescriptor.supplier === 'Smartrak'
                    if departure.busRego
                      span=`#${departure.busRego}`
                    else
                      span=`${departure.vehicleDescriptor.id}`
                  else if departure.vehicleDescriptor.operator === 'Yarra Trams'
                    span=`${departure.tram.model}.${departure.tram.id}`
