extends ../textbar-layout

block title
  span=station.stopName

block scripts
  script(src='/static/scripts/timings.js')
  
append style
  link(rel='stylesheet' href='/static/css/combined-colours.css')
  link(rel='stylesheet' href='/static/css/timings/base-style.css')

append content
  - 
    let cityLoopStationAbbreviations = {
      'FSS': 'Flinders Street Railway Station',
      'SSS': 'Southern Cross Railway Station',
      'FGS': 'Flagstaff Railway Station',
      'MCE': 'Melbourne Central Railway Station',
      'PAR': 'Parliament Railway Station'
    }
    let cityLoopStationNames = Object.values(cityLoopStationAbbreviations)
    
  div#departures
    for departure in departures
      div.departure
        -
          let stopName = station.stopName
          let indexOfCurrentStation = departure.trip.stopTimings.map(stop => stop.stopName).indexOf(stopName)
          let stopsAt = departure.trip.stopTimings.filter((_, i) => i > indexOfCurrentStation).map(stop => stop.stopName)
          let cityLoopStationFullNames = departure.cityLoopConfig.map(stn => cityLoopStationAbbreviations[stn])

          stopsAt = stopsAt.filter(station => !cityLoopStationNames.includes(station))
          
          if (departure.trip.direction === 'Up')
            stopsAt = stopsAt.concat(cityLoopStationFullNames)
          else if (cityLoopStationNames.includes(station.stopName)) {
            indexOfCurrentStation = cityLoopStationFullNames.indexOf(stopName)
            stopsAt = cityLoopStationFullNames.filter((stn, i) => i > indexOfCurrentStation).concat(stopsAt)
          }

          stopsAt = stopsAt.filter(Boolean).filter((e,i,a) => a.indexOf(e) === i)
        input(type='hidden' name='stops-at' value=stopsAt.join(','))
        input(type='hidden' name='platform' value=departure.platform || '')
        input(type='hidden' name='run' value=departure.runID)
        input(type='hidden' name='line' value=departure.trip.routeName)
        if departure.cancelled
          input(type='hidden' name='cancelled')
        a(class=`leftContainer platform ${departure.codedLineName}-line`)
          span Platform
          span=departure.platform || '?'
        a.departureInfo
          span=`${departure.trip.routeName} Line towards`
          span=departure.trip.destination
          if departure.cancelled
            span.cancelled CANCELLED
          else
            if cityLoopStationNames.includes(station.stopName) || departure.trip.direction === 'Up'
              -
                let text = departure.cityLoopConfig.join(', ')
                if (departure.destination !== departure.trip.destination)
                  text += ' -> ' + departure.destination
              span=text
        div.timings
          a(class='timing ' + departure.headwayDevianceClass)
            span=departure.prettyTimeToArrival
            span=departure.scheduledDepartureTime.format('HH:mm')
