extends ../layout

block head
  title=`TransportVic - ${stop.stopName}`

block title
  span=stop.stopName

block scripts
  script(src='/static/scripts/timings.js' async)
  
append style
  link(rel='stylesheet' href='/static/css/combined-colours.css')
  link(rel='stylesheet' href='/static/css/timings/base-style.css')

append content
  div#departures
    for service in services
      -
        let serviceDepartures = groupedDepartures[service]
        let destinations = Object.keys(serviceDepartures).sort((a, b) => a.length - b.length)
      for destination in destinations
        - let destinationDepartures = serviceDepartures[destination]
        div.departure
          // todo route colours
          a(class=`leftContainer platform cdc-melbourne`)
            span
            span=service
          a.departureInfo
            span Towards
            span=destination
          div.timings
            for departure in destinationDepartures.slice(0, 4)
              a(href=departure.tripURL class=`timing mini ${departure.headwayDevianceClass}`)
                span=departure.prettyTimeToArrival
                span=departure.scheduledDepartureTime.format('HH:mm')
                if departure.vehicleDescriptor.supplier === 'Smartrak'
                  if departure.busRego
                    span=`#${departure.busRego}`
                  else
                    span=`${departure.vehicleDescriptor.id}`
