extends ../textbar-layout

block head
  -
    let stationName = station.stopName.slice(0, -16)
    title = `TransportVic - ${stationName}`
    description = `Viewing the Next 90 minutes of departures from ${stationName}`
    themeColour = '#0570c3'
    keywords = `${stationName} train times,${stationName} metro times`
    
  title #{title}
  
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/bus.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/coach.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/tram.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/metro.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/vline.svg`)

  link(rel='preload' as='style' href=`${staticBase}/static/css/combined-colours.css`)
  link(rel='preload' as='style' href=`${staticBase}/static/css/timings/base-style.css`)
  link(rel='preload' as='style' href=`${staticBase}/static/css/timings/alerts.css`)

  meta(name='stop-name' content=station.stopName)
  meta(name='stop-suburb' content=station.suburb[0])
  meta(name='stop-id' content=`${station.cleanSuburbs[0]}/${station.cleanName}`)

block title
  span=station.stopName

block header-right
  include ./templates/header
  +header(station)

append style
  link(rel='stylesheet' href=`${staticBase}/static/css/timings/base-style.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/timings/alerts.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/vendor/leaflet-1.6.0.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/vendor/leaflet-locate-0.85.1.css`)

append postStyle
  link(rel='stylesheet' href=`${staticBase}/static/css/site-colours.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/combined-colours.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/constant-colours.css`)

append content
  -
    let currentMode = 'metro train'
    const relevantStations = {
      'Flinders Street': 'Town Hall',
      'Town Hall': 'Flinders Street',
      'State Library': 'Melbourne Central',
      'Melbourne Central': 'State Library'
    }
  
  div#body-container
    if relevantStations[stationName]
      a#relevant-station(href=`/metro/timings/${relevantStations[stationName].toLowerCase().replaceAll(/ /g, '-')}`)
        img(src=`${staticBase}/static/images/clear-icons/metro.svg` alt='metro train icon' width='30' height='30')
        span View departures from #{relevantStations[stationName]}
    include mode-switch
    div#departures
      include ./templates/metro-trains