-
  let stopToUse = stop || station
  let stopModes = stopToUse.bays.map(e => e.mode).filter((e, i, a) => a.indexOf(e) === i)
  let owningStopModes = stopToUse.bays.filter(b => !b.opposite).map(e => e.mode).filter((e, i, a) => a.indexOf(e) === i)
  if (stopToUse.stopName === 'Southern Cross Railway Station') {
    let vlineIndex = stopModes.indexOf('regional train') + 1
    if (vlineIndex !== -1) {
      stopModes = [...stopModes.slice(0, vlineIndex), 'regional coach', ...stopModes.slice(vlineIndex)]
    }
  } else if (stopToUse.stopName === 'Southern Cross Coach Terminal/Spencer Street') {
    let coachIndex = stopModes.indexOf('regional coach')
    if (coachIndex !== -1) {
      stopModes = [...stopModes.slice(0, coachIndex), 'regional train', ...stopModes.slice(coachIndex)]
    }
  }
  
  let iconMap = {
    'bus': 'bus',
    'metro train': 'metro',
    'regional train': 'vline',
    'regional coach': 'coach',
    'tram': 'tram',
    'ferry': 'ferry'
  }
  
  let urlMap = {
    'regional train': 'vline',
    'metro train': 'metro',
    'regional coach': 'coach'
  }

  let screenReaderLabels = {
    'bus': 'bus',
    'metro train': 'suburban train',
    'regional train': 'v line',
    'regional coach': 'coach',
    'tram': 'tram',
    'ferry': 'ferry'
  }

if stopModes.length > 1
  div#modeSwitch
    for mode in stopModes
      -
        let suburb = stopToUse.cleanSuburbs[0]
        let name = stopToUse.cleanName
        if (!owningStopModes.includes(mode) && oppositeStop) {
          suburb = oppositeStop.cleanSuburbs[0]
          name = oppositeStop.cleanName
        }

        let url = `/${urlMap[mode] || mode.replace(' ', '-')}/timings/`
        if (mode === 'bus' || mode === 'tram' || mode === 'regional coach') 
          url += `${suburb}/`
        url += name
        if (mode.includes('train'))
          url = url.slice(0, -16)

        if (mode === 'regional coach' && stopToUse.stopName === 'Southern Cross Railway Station') {
          url = '/coach/timings/docklands/southern-cross-coach-terminal-spencer-street'
        } else if (mode === 'regional train' && stopToUse.stopName === 'Southern Cross Coach Terminal/Spencer Street') {
          url = '/vline/timings/southern-cross'
        }
      a(href=url class=`modeSwitchType ${mode.replace(' ', '-')} ${mode === currentMode ? '' : 'inactive'}` aria-label=`View ${screenReaderLabels[mode]} departures from this stop`)
        img(src=`${staticBase}/static/images/clear-icons/${iconMap[mode] || mode}.svg` alt=`${screenReaderLabels[mode]} icon` width='30' height='30')
        span=mode