-
  let stopToUse = stop || station
  let stopModes = stopToUse.bays.map(e => e.mode).filter((e, i, a) => a.indexOf(e) === i)
  if (stopToUse.stopName === 'Southern Cross Railway Station') {
    let vlineIndex = stopModes.indexOf('regional train') + 1
    if (vlineIndex !== -1) {
      stopModes = [...stopModes.slice(0, vlineIndex), 'regional coach', ...stopModes.slice(vlineIndex)]
    }
  } else if (stopToUse.stopName === 'Southern Cross Coach Terminal/Spencer Street') {
    let coachIndex = stopModes.indexOf('regional coach')
    if (coachIndex !== -1) {
      stopModes = [...stopModes.slice(0, coachIndex), 'regional train', ...stopModes.slice(coachIndex)]
    }
  }
  
  let iconMap = {
    'regional train': 'vline',
    'heritage train': 'heritage',
    'metro train': 'metro',
    'regional coach': 'coach'
  }
if stopModes.length > 1
  div#modeSwitch
    for mode in stopModes
      -
        let url = `/${iconMap[mode] || mode.replace(' ', '-')}/timings/`
        if (mode === 'bus' || mode === 'tram' || mode === 'regional coach') 
          url += `${stopToUse.codedSuburb[0]}/`
        url += stopToUse.codedName
        if (mode.includes('train'))
          url = url.slice(0, -16)
          
        if (mode === 'regional coach' && stopToUse.stopName === 'Southern Cross Railway Station') {
          url = '/coach/timings/melbourne-city/southern-cross-coach-terminal-spencer-street'
        } else if (mode === 'regional train' && stopToUse.stopName === 'Southern Cross Coach Terminal/Spencer Street') {
          url = '/vline/timings/southern-cross'
        }
      a(href=url class=`modeSwitchType ${mode.replace(' ', '-')} ${mode === currentMode ? '' : 'inactive'}`)
        img(src=`/static/images/clear-icons/${iconMap[mode] || mode}.svg` alt='')
        span=mode
