extends ../layout

block head
  -
    title = `TransportVic - ${stop.stopName}`
    description = `Viewing the Next 4 coach departures from ${stop.stopName}`
    themeColour = '#9582b5'
    
  title #{title}

  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/bus.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/coach.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/tram.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/metro.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/vline.svg`)

  link(rel='preload' as='style' href=`${staticBase}/static/css/combined-colours.css`)
  link(rel='preload' as='style' href=`${staticBase}/static/css/timings/base-style.css`)

  meta(name='stop-name' content=stop.stopName)
  meta(name='stop-suburb' content=stop.suburb[0])
  meta(name='stop-id' content=`${stop.cleanSuburbs[0]}/${stop.cleanName}`)

block title
  span=stop.stopName
  
block header-right
  include ./templates/header
  +header(stop)

append style
  link(rel='stylesheet' href=`${staticBase}/static/css/timings/base-style.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/vendor/leaflet-1.6.0.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/vendor/leaflet-locate-0.85.1.css`)

append postStyle
  link(rel='stylesheet' href=`${staticBase}/static/css/site-colours.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/combined-colours.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/constant-colours.css`)

append content
  - let currentMode = 'regional coach'
  include mode-switch
  div#departures
    include ./templates/regional-coach