extends ../layout

block head
  title=`TransportVic - ${stop.stopName}`

block title
  span=stop.stopName

block scripts
  script(src='/static/scripts/timings.js' async)
  
append style
  link(rel='stylesheet' href='/static/css/combined-colours.css')
  link(rel='stylesheet' href='/static/css/timings/base-style.css')

append content
  div#departures
    for departure in departures
      div.departure.no-number
        a.departureInfo
          span.routeName=departure.trip.routeName
          span.towards Towards
          span.destination=departure.trip.destination
          if departure.coachCount > 1
            span.info=`This service has ${departure.coachCount} coaches`
        div.timings
          a(href=departure.tripURL).timing.unknown
            span=departure.prettyTimeToArrival
            span=departure.scheduledDepartureTime.format('HH:mm')
            if departure.busRego
              span.rego=`#${departure.busRego}`
