extends ../textbar-layout

block title
  span=station.stopName

block scripts
  script(src='/static/scripts/timings.js' async)
  
append style
  link(rel='stylesheet' href='/static/css/combined-colours.css')
  link(rel='stylesheet' href='/static/css/timings/base-style.css')

append content
  div#departures
    for departure in departures
      div.departure
        - let indexOfCurrentStation = departure.trip.stopTimings.map(stop => stop.stopName).indexOf(station.stopName)
        input(type='hidden' name='stops-at' value=departure.trip.stopTimings.filter((_, i) => i > indexOfCurrentStation).map(stop => stop.stopName).join(','))
        input(type='hidden' name='platform' value=departure.platform || '')
        input(type='hidden' name='run' value=departure.runID)
        input(type='hidden' name='line' value=departure.trip.shortRouteName)
        a.leftContainer.platform.vline
          if departure.isCoachService
            span Coach Svc
            //- img(src='/static/clear-icons/regional-coach.svg')
            img(src='/static/images/clear-icons/bus-icon.svg')
          else
            span Platform
            span=departure.platform || '?'
        a.departureInfo
          span=`${departure.trip.shortRouteName} Line towards`
          span=departure.trip.destination.slice(0, -16)
          if departure.isCoachService
            span.cancelled This service has been replaced by coaches - check platform displays
          else if departure.unknownScheduledDepartureTime
            span.cancelled Unknown scheduled departure time/No stopping pattern info - check platform displays
          else if departure.trip.isUncertain
            span.cancelled Stopping pattern/times may be wrong - check platform displays
        div.timings
          -
            let className = 'timing '
            if (departure.trip.isUncertain)
              className += 'uncertain'
            else
              className += departure.headwayDevianceClass
          a(class=className)
            span=departure.prettyTimeToArrival
            if departure.unknownScheduledDepartureTime
              span ??
            else
              span=departure.scheduledDepartureTime.format('HH:mm')
