extends ../textbar-layout

block head
  -
    const stationName = station.stopName.slice(0, -16)
    const regionalTowns = [
      'Geelong', 'Ballarat', 'Bendigo', 'Seymour', 'Traralgon',
      'Warrnambool', 'Ararat', 'Maryborough', 'Swan Hill', 'Echuca', 'Shepparton', 'Albury', 'Bairnsdale'
    ]

    title = `TransportVic - ${stationName}`

    keywords = `${stationName} train times,vline ${stationName},${station} vline times`
    const townText = town => `${town} to Melbourne,Melbourne to ${town},vline from ${town},vline to ${town}`
    if (regionalTowns.includes(stationName)) keywords += townText(stationName)
    else if (stationName === 'Southern Cross') keywords += regionalTowns.map(townText).join(',')

    description = `Viewing the Next 3 hours of V/Line train departures from ${stationName}`
    themeColour = '#6b4d9e'
    
  title #{title}

  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/bus.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/coach.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/tram.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/metro.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/vline.svg`)

  link(rel='preload' as='style' href=`${staticBase}/static/css/combined-colours.css`)
  link(rel='preload' as='style' href=`${staticBase}/static/css/timings/base-style.css`)

  meta(name='stop-name' content=station.stopName)
  meta(name='stop-suburb' content=station.suburb[0])
  meta(name='stop-id' content=`${station.cleanSuburbs[0]}/${station.cleanName}`)

block title
  span=station.stopName
  
block header-right
  include ./templates/header
  +header(station)

append style
  link(rel='stylesheet' href=`${staticBase}/static/css/timings/base-style.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/vendor/leaflet-1.6.0.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/vendor/leaflet-locate-0.85.1.css`)

append postStyle
  link(rel='stylesheet' href=`${staticBase}/static/css/site-colours.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/combined-colours.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/constant-colours.css`)

append content
  - let currentMode = 'regional train'
  include mode-switch
  div#departures
    include ./templates/vline