html
  head
    script(src='/static/scripts/util.js')
    script(src='/static/scripts/mockups/reload-fss-escalator.js' async)
    link(rel='stylesheet' href='/static/css/mockups/base-style.css')
    link(rel='stylesheet' href='/static/css/mockups/actual-line-colours.css')
    link(rel='stylesheet' href='/static/css/mockups/fss-escalator.css')
      
    link(rel='preload' as='font' href='/static/fonts/NetworkSans-Regular.ttf')
    link(rel='preload' as='font' href='/static/fonts/NetworkSans-Medium.ttf')
    link(rel='preload' as='font' href='/static/fonts/NetworkSans-Bold.ttf')
      
    link(rel='preload' as='image' href='/static/images/mockups/no-boarding-train.svg')
    link(rel='preload' as='image' href='/static/images/mockups/station-express.svg')
    link(rel='preload' as='image' href='/static/images/mockups/station-filler.svg')
    link(rel='preload' as='image' href='/static/images/mockups/station-halfstub.svg')
    link(rel='preload' as='image' href='/static/images/mockups/station-stops-at.svg')
    link(rel='preload' as='image' href='/static/images/mockups/station-stub.svg')
    link(rel='preload' as='image' href='/static/images/mockups/station-terminates.svg')
  body
    -
      let northernGroup = [
        "Craigieburn",
        "Sunbury",
        "Upfield",
        "Werribee",
        "Williamstown",
        "Showgrounds/Flemington"
      ]

      let cliftonHillGroup = [
        "Mernda",
        "Hurstbridge"
      ]
    
      let firstDeparture = departures[0]
      let noDepartures = !departures.length
      let additionalInfo
      
      if (!noDepartures)
        additionalInfo = firstDeparture.additionalInfo
      else firstDeparture = { codedLineName: 'no-line' }
      let firstDepartureClass = firstDeparture.codedLineName
      if (firstDeparture.type === 'vline') firstDepartureClass = 'vline'
    div.contents
      div(class='topLineBanner ' + firstDepartureClass)
      div.noDepartures(style=noDepartures ? 'display: block;' : 'display: none;')
        div.firstDepartureTime
          div.platform.no-line
            span=platform
        div.textWrapper
          img(src='/static/images/mockups/no-boarding-train.svg')
          p No trains are departing from this platform
      div.firstDepartureInfo(style=noDepartures ? 'display: none;' : 'display: flex;')
        div.details
          if !noDepartures
            span.scheduledDepartureTime=firstDeparture.scheduledDepartureTime.format('h:mmA').toLowerCase()
          else
            span.scheduledDepartureTime
          br
          if !noDepartures
            span.destination=firstDeparture.destination
          else
            span.destination
          br
          if !noDepartures
            -
              let stoppingPattern = ''
              if (additionalInfo.expressCount === 0)
                stoppingPattern = 'Stops All'
              else if (additionalInfo.expressCount <= 2)
                stoppingPattern = 'Ltd Express'
              else stoppingPattern = 'Express'
                
              if (isCityStop || additionalInfo.direction === 'Up') {
                if (additionalInfo.viaCityLoop) stoppingPattern += ' via City Loop'
                else if (additionalInfo.direction === 'Down') {
                  if (northernGroup.includes(firstDeparture.trip.routeName)) stoppingPattern += ' via Sthn Cross'
                  else if (cliftonHillGroup.includes(firstDeparture.trip.routeName)) stoppingPattern += ' via Jolimont' //?
                  else stoppingPattern += ' via Richmond'
                }
              }
              if (firstDeparture.type === 'vline') stoppingPattern = 'No Suburban Passengers'
            span.stoppingPattern=stoppingPattern
          else
            span.stoppingPattern
        div.firstDepartureTime
          if !noDepartures
            div(class='platform ' + firstDepartureClass)
              span=firstDeparture.platform || platform
            div.timeToDeparture
              span=firstDeparture.prettyTimeToDeparture
          else
            div.platform
              span
            div.timeToDeparture
              span
      div.greyLine(style=noDepartures ? 'display: none;' : 'display: block;')
      div(class='stoppingAt ' + firstDepartureClass style=noDepartures ? 'display: none;' : 'display: block;')
        div
          if !noDepartures
            -
              let n
              let stopCount = additionalInfo.screenStops.length
              
              // SEEMS TO BE: Considering only stops at: Minimum 9 on left, any more split into 2 with extra odd one on the left
              // CAMBERWELL: 11L
              // FRANKSTON: 18L 9R + 1RE
              //Bairnsdale 22L 21L
              // if (stopCount >= )
              if (stopCount >= 32) n = 17
              // else if (stopCount >= 24) n = 18 // honestly idk how tf this works 
              // else if (stopCount >= 20) n = 16
              else if (stopCount >= 12) n = 16 // ?? should really have checked but aw - moorabbin shorts
              // else if (stopCount >= 12) n = 12
              else n = 12

              let firstNStations = additionalInfo.screenStops.slice(0, n)
              let nextNStations = additionalInfo.screenStops.slice(n)
              
            // possible - load all icons at once? then switch (display=none & display=block) as needed?
            mixin stationRow(name, imgSource)
              -let style = 'height: 16px !important;'
              div.stationRow(style=(imgSource.includes('stub') ? style : ''))
                if !imgSource.includes("stub")
                  img(src=`/static/images/mockups/station-${imgSource}.svg`)
                else
                  img(src=`/static/images/mockups/station-${imgSource}.svg` height="16px" width="42px" style=style)
                p(class=imgSource)=name
                
            div
              +stationRow(" ", "stub")
              
              - let hasTerminating = additionalInfo.screenStops.length <= n
              
              div.stationRow
                img(src=`/static/images/mockups/station-stops-at.svg` class=firstDepartureClass)
                p(class=firstDepartureClass)=firstNStations[0].stopName

              for station in firstNStations.slice(1, hasTerminating ? -1 : n)
                +stationRow(station.stopName, station.isExpress ? "express" : "stops-at")
              if hasTerminating
                +stationRow(firstNStations.slice(-1)[0].stopName, "terminates")
              else
                +stationRow(" ", "halfstub")
                +stationRow(" ", "filler")
                  
            div
              if nextNStations.length
                +stationRow(" ", "halfstub")
                +stationRow(" ", "filler")
                for station in nextNStations.slice(0, -1)
                  +stationRow(station.stopName, station.isExpress ? "express" : "stops-at")
                +stationRow(nextNStations.slice(-1)[0].stopName, "terminates")
          else
            div
            div
        
      div.next3Departures    
        div.blackLine
        - let i = 0
        for departure in departures.concat([null, null, null, null, null]).slice(1, 5)
          if !!departure
            -
              let {additionalInfo} = departure
              let departureClass = departure.codedLineName
              if (departure.type === 'vline') departureClass = 'vline'
            div.smallDeparture
              div.left
                div(class='sideBar ' + departureClass)
                p=departure.scheduledDepartureTime.format('h:mmA').toLowerCase()
              div.centre
                p=departure.destination
              div.right
                div(class='platform ' + departureClass)
                  p=departure.platform
                div.timeToDeparture
                  p=departure.prettyTimeToDeparture.replace(' ', '')
          else    
            div.smallDeparture
              div.left
                div(class='sideBar no-line')
                p --
              div.centre
                p --
              div.right
                div(class='platform no-line')
                  p &nbsp;
                div.timeToDeparture
                  p &nbsp;
          if i++ !== 3
            div.greyLine
