extends ../layout

block head
  title TransportVic - Bus #{route.routeNumber}
  
block title
  span Metropolitian Bus #{route.routeNumber}

block style
  link(rel='stylesheet' href='/static/css/routes/base-style.css')
  link(rel='stylesheet' href='/static/css/routes/bus.css')
  link(rel='stylesheet' href='/static/css/combined-colours.css')
      
block content
  div#routeSummary
    a(class=operator href=`/bus/route/${route.routeNumber}/${codedDirectionNames[1]}`)#routeNumber
      span#routeText=route.routeNumber
    div#terminals
      a().coloured-row
        span=directionNames[1]
      a().coloured-row
        span=directionNames[0]
  div#serviceTimings
    div#keyTimings
      div.table-header.table-data.spacing1
        span Days
        span First Bus
        span Last Bus
      div.coloured-row.table-data.spacing1
        span Weekdays
        span=firstLastBusMap.firstBus.weekday
        span=firstLastBusMap.lastBus.weekday
      div.coloured-row.table-data.spacing1
        span Saturday
        span=firstLastBusMap.firstBus.saturday
        span=firstLastBusMap.lastBus.saturday
      div.coloured-row.table-data.spacing1
        span Sundays / PH
        span=firstLastBusMap.firstBus.sunday
        span=firstLastBusMap.lastBus.sunday
    div#frequency
      div.table-header.table-data.spacing1
        span Time Of Day
        span Min Frequency
        span Max Frequency
      div.coloured-row.table-data.spacing1
        div.freqTime
          span 03:00 - 06:00
          span Early Morning
        span=frequencyMap.weekday['Early Morning'].min || '-'
        span=frequencyMap.weekday['Early Morning'].max || '-'
      div.coloured-row.table-data.spacing1
        div.freqTime
          span 06:00 - 10:00
          span Morning Peak
        span=frequencyMap.weekday['Morning Peak'].min || '-'
        span=frequencyMap.weekday['Morning Peak'].max || '-'
      div.coloured-row.table-data.spacing1
        div.freqTime
          span 10:00 - 16:30
          span Afternoon
        span=frequencyMap.weekday['Afternoon'].min || '-'
        span=frequencyMap.weekday['Afternoon'].max || '-'
      div.coloured-row.table-data.spacing1
        div.freqTime
          span 16:30 - 20:30
          span Evening Peak
        span=frequencyMap.weekday['Evening Peak'].min || '-'
        span=frequencyMap.weekday['Evening Peak'].max || '-'
      div.coloured-row.table-data.spacing1
        div.freqTime
          span 20:30 - 03:00
          span Night
        span=frequencyMap.weekday['Night'].min || '-'
        span=frequencyMap.weekday['Night'].max || '-'
  div#stops
    div.table-header.table-data.spacing2
      span Stop #
      span Suburb
      span Bus Stop    
    
    - let i = 0
    for stop in direction.stops
      - i++
      div.coloured-row
        div.stop.table-data.spacing2
          span=i
          span=stop.suburb
          div.stopNameData
            -
              let stopRoad = stop.stopName.replace(/^[^\/]+\//, '')
              let stopName = stop.stopName.replace(/\/.+$/, '')
              if ((stopRoad == stopName) && stopName.match(/\d+[A-Z]? .+$/)) {
                stopRoad = stopName.match(/\d+[A-Z]? (.+)$/)[1]
              }
            if stopRoad !== stopName
                span=stopRoad
            else
                span
            span=stopName
