extends ../layout

block head
  title TransportVic - Bus #{route.routeNumber}
  
block title
  -
    let type = ''
    if (route.routeGTFSID.startsWith('4-')) type = 'Metropolitian Bus'
    if (route.routeGTFSID.startsWith('6-')) type = 'Regional Bus'
    if (route.routeGTFSID.startsWith('7-')) type = 'Telebus'
    if (route.routeGTFSID.startsWith('8-')) type = 'Night Bus'
    if (route.routeGTFSID.startsWith('11-')) type = 'SkyBus'
    
  span #{type} #{route.routeNumber}

block style
  link(rel='stylesheet' href='/static/css/routes/base-style.css')
  link(rel='stylesheet' href='/static/css/routes/bus.css')
  link(rel='stylesheet' href='/static/css/combined-colours.css')
      
block content
  div#routeSummary
    -
      let link = `/bus/route/${route.routeNumber}/${codedDirectionNames[1]}`
      if (route.routeGTFSID.startsWith('6')) {
        link = `/bus/route/regional/${route.codedLGA}/${route.routeNumber}/${codedDirectionNames[1]}`
      }
    a(class=operator href=link)#routeNumber
      span#routeText=route.routeNumber
    div#terminals
      if showDualTermini
        a().coloured-row
          span.destination=directionNames[1]
        a().coloured-row
          span.destination=directionNames[0]
      else
        
        a().coloured-row.full
          span.header Circular Loop
          span.destination=directionNames[0]
  div#serviceTimings
    div#keyTimings
      div.table-header.table-data.spacing1
        span Days
        span First Bus
        span Last Bus
      div.coloured-row.table-data.spacing1
        span Weekdays
        span=firstLastBusMap.firstBus.weekday
        span=firstLastBusMap.lastBus.weekday
      div.coloured-row.table-data.spacing1
        span Saturday / PH
        span=firstLastBusMap.firstBus.saturday
        span=firstLastBusMap.lastBus.saturday
      div.coloured-row.table-data.spacing1
        span Sundays
        span=firstLastBusMap.firstBus.sunday
        span=firstLastBusMap.lastBus.sunday
    div#frequency
      div.table-header.table-data.spacing3
        span Time Of Day
        span Weekday
        span Saturday
        span Sunday
      div.coloured-row.table-data.spacing3
        -
          function frequency(data) {
            if (data.min === '-') return '-'
            else {
              if (data.min === '1 Bus') return '1 Bus'
              else if (data.min === data.max) return data.min + 'min'
              else return `${data.min}-${data.max}min`
            }
          }
        div.freqTime
          span.time 03:00 - 06:00
          span.desc Early Morning
        span=frequency(frequencyMap.weekday['Early Morning'])
        span=frequency(frequencyMap.saturday['Early Morning'])
        span=frequency(frequencyMap.sunday['Early Morning'])
      div.coloured-row.table-data.spacing3
        div.freqTime
          span.time 06:00 - 10:00
          span.desc Morning Peak
        span=frequency(frequencyMap.weekday['Morning Peak'])
        span=frequency(frequencyMap.saturday['Morning Peak'])
        span=frequency(frequencyMap.sunday['Morning Peak'])
      div.coloured-row.table-data.spacing3
        div.freqTime
          span.time 10:00 - 15:00
          span.desc Daytime Off Peak
        span=frequency(frequencyMap.weekday['Daytime Off Peak'])
        span=frequency(frequencyMap.saturday['Daytime Off Peak'])
        span=frequency(frequencyMap.sunday['Daytime Off Peak'])
      div.coloured-row.table-data.spacing3
        div.freqTime
          span.time 15:00 - 19:00
          span.desc Afternoon Peak
        span=frequency(frequencyMap.weekday['Afternoon Peak'])
        span=frequency(frequencyMap.saturday['Afternoon Peak'])
        span=frequency(frequencyMap.sunday['Afternoon Peak'])
      div.coloured-row.table-data.spacing3
        div.freqTime
          span.time 19:00 - 22:00
          span.desc Early Evening
        span=frequency(frequencyMap.weekday['Early Evening'])
        span=frequency(frequencyMap.saturday['Early Evening'])
        span=frequency(frequencyMap.sunday['Early Evening'])
      div.coloured-row.table-data.spacing3
        div.freqTime
          span.time 22:00 - 03:00
          span.desc Late Night
        span=frequency(frequencyMap.weekday['Late Night'])
        span=frequency(frequencyMap.saturday['Late Night'])
        span=frequency(frequencyMap.sunday['Late Night'])
  div#stops
    div.table-header.table-data.spacing2
      span.suburb Suburb
      span.stopName Bus Stop    
    
    for stop in direction.stops
      div.coloured-row
        div.stop.table-data.spacing2
          span.suburb=stop.suburb
          div.stopNameData.stopName
            -
              let stopRoad = stop.stopName.replace(/^[^\/]+\//, '')
              let stopName = stop.stopName.replace(/\/.+$/, '')
              if ((stopRoad == stopName) && stopName.match(/\d+[A-Z]? .+$/)) {
                stopRoad = stopName.match(/\d+[A-Z]? (.+)$/)[1]
              }
            if stopRoad !== stopName
                span=stopRoad
            else
                span
            span=stopName
