extends ../../layout

block head
  -
    title = 'TransportVic - Tracker/Tram - By Fleet'
    description = `Tracking Tram ${tram}`
  title #{title}
  link(rel='preload' as='style' href=`${staticBase}/static/css/tracker/results.css`)

block title
  span Tram Tracker - By Fleet

block style
  link(rel='stylesheet' href=`${staticBase}/static/css/tracker/results.css`)

block content
  h1.title Tracking Tram #{tram} on #{date.format('dddd, MMMM Do YYYY')}
  for trip in tripsToday
    div(class=`trip ${trip.active ? '' : 'inactive'}`)
      a(href=trip.url) #{trip.departureTime} #{trip.origin.split('/')[0]} - #{trip.destination.split('/')[0]} #{trip.routeNumber} (#{trip.shift})

  h1.title Past deployments:
  for day in servicesByDay
    a(href=`/tram/tracker/fleet?fleet=${fleet}&date=${day.date}`).pastDeployment #{day.humanDate} - #{day.services.join(', ')}
    br
