extends ../../layout

block head
  -
    title = 'TransportVic - Tracker/Tram - By Service'
    description = `Tracking all trams on Service ${service}`
  title #{title}
  link(rel='preload' as='style' href='/static/css/tracker/results.css')

block title
  span Tram Tracker - By Service
  
block style
  link(rel='stylesheet' href='/static/css/tracker/results.css')

block content
  h1.title Tracking Tram Service #{service} on #{date.format('dddd, MMMM Do YYYY')}
  for trip in tripsToday
    div(class=`trip ${trip.active ? '' : 'inactive'}`)
      a(href=trip.url) #{trip.tram}: #{trip.departureTime} #{trip.origin.split('/')[0]} - #{trip.destination.split('/')[0]} (#{trip.shift})

  h1.title Past deployments:
  for pastDate in allDays.reverse()
    a(href=`/tram/tracker/service?service=${service}&date=${tramsByDay[pastDate].date}`).pastDeployment #{pastDate} - #{tramsByDay[pastDate].trams.join(', ')}
    br
