extends ../../layout

block head
  -
    title = 'TransportVic - Tracker/Tram - Cross Depot Deployments'
    description = `Tracking Cross Depot tram deployments`
  title #{title}
  link(rel='preload' as='style' href='/static/css/tracker/results.css')

block title
  span Tram Tracker - Cross Depot Deployments
  
block style
  link(rel='stylesheet' href='/static/css/tracker/results.css')

block content
  h1.title Tracking Cross Depot tram deployments on #{date.format('dddd, MMMM Do YYYY')}
  for trip in tripsToday
    div(class=`trip ${trip.active ? '' : 'inactive'}`)
      a(href=trip.url) #{trip.tram}: #{trip.departureTime} #{trip.origin.split('/')[0]} - #{trip.destination.split('/')[0]} #{trip.routeNumber} (#{trip.shift})
