extends ../../layout

block head
  -
    title = 'TransportVic - Tracker/Tram - Highlights'
    description = 'Tram Tracker Highlights'
  title #{title}
  link(rel='preload' as='style' href=`${staticBase}/static/css/tracker/results.css`)
  
block title
  span Tram Tracker - Highlights

block style
  link(rel='stylesheet' href=`${staticBase}/static/css/tracker/results.css`)

block content
  h1.title Tram Highlights Today
  
  mixin section(trips, title)
    if trips.length > 0
      h1.title #{title}
      for trip in trips
        div(class=`trip ${trip.active ? '' : 'inactive'}`)
          a(href=trip.url) #{trip.tram}: #{trip.departureTime} #{trip.origin.split('/')[0]} - #{trip.destination.split('/')[0]} (#{trip.shift})

  +section(unknownTrams, 'Unknown Tram')
