if services.length
  for service in services
    -
      let serviceDepartures = groupedDepartures[service]
      let destinations = Object.keys(serviceDepartures)
      let hasNumber = !!service
    for destination in destinations
      -
        let destinationDepartures = serviceDepartures[destination]
        let departures = destinationDepartures.slice(0, maxDepartures)
        let firstDeparture = destinationDepartures[0]
      div(class=`departure groupedTimings${hasNumber ? '' : ' no-number'}`)
        if hasNumber
          a(class=`leftContainer ${classGen(firstDeparture)}`)
            if firstDeparture.loopDirection
              span.topText #{firstDeparture.loopDirection}
            else if firstDeparture.routeDetails
              span.topText #{firstDeparture.routeDetails}
            -
              let className = 'bigNumber'
              if (firstDeparture.routeNumber.length > 3) className += ' smaller'
            span(class=className) #{firstDeparture.routeNumber}
            if firstDeparture.bay
              span.bottomText #{firstDeparture.bay}
        a(href=firstDeparture.destinationURL class=`departureInfo departure${departures.length}`)
          if !hasNumber
            span.routeName #{firstDeparture.trip.routeName}
          span.towards Towards
          span.destination #{firstDeparture.destination}
          if firstDeparture.guidanceText
            span.broadDepartureInfo.clampLine #{firstDeparture.guidanceText}
          if firstDeparture.viaText && hasNumber
            span.broadDepartureInfo.clampLine #{firstDeparture.viaText}
        div.timings
          for departure in departures
            a(href=departure.tripURL class=`timing ${departure.headwayDevianceClass}`)
              div.vehicleData
                if departure.vehicle && departure.vehicle.attributes
                  if departure.vehicle.attributes.ac
                    img(src='/static/images/decals/ac.svg')
                  if departure.vehicle.attributes.lf
                    img(src='/static/images/decals/wheelchair.svg')
              span #{departure.prettyTimeToArrival}
              span #{departure.scheduledDepartureTime.format('HH:mm')}
              if departure.vehicle
                span.rego #{departure.vehicle.name}
else
  div.errorPage
    h2 No Upcoming Departures...
