mixin header(stop)
  label#clock-label(for='departureDateTime')
    img#clock(src=`${staticBase}/static/images/decals/clock.svg` alt='change departure time' tabindex='0' width='30' height='30')
  input#departureDateTime(type="datetime-local" tabindex="-1")
  div#clockDropdown(aria-live='assertive' aria-label='departure date and time dropdown')
    div
      input#departureDate(type="date")
      input#departureTime(type="time")
      input#confirmTime(type="button" value="Update")
  a#mapLink(href=`/stop-preview/${stop.cleanSuburbs[0]}/${stop.cleanName}`)
    img#mapIcon(src=`${staticBase}/static/images/decals/map.svg` alt='map icon' width='30' height='30')
  img#bookmark(src=`${staticBase}/static/images/decals/bookmark.svg` alt='bookmark icon' width='30' height='30')