if departures.length
  for departure in departures
    div.departure.noNumber
      a(href=departure.destinationURL).departureInfo
        -
          let routeName = departure.trip.routeName
          if (departure.isRailReplacementBus) {
            routeName = `V/Line ${departure.routeName} Line Rail Replacement`
          }
        span.routeName.clampLine #{routeName}
        span.towards Towards
        span.destination=departure.destination
        if departure.isRailReplacementBus
          -
            let message = 'This is a train replacement coach'
            if (stop.stopName === 'Southern Cross Coach Terminal/Spencer Street') message += ', departing Bays 62 - 70'
            else if (departure.bay) message += `, departing ${departure.bay}`
          span.important #{message}
        else if departure.bay
          span.broadDepartureInfo Departing #{departure.bay}
      div.timings
        a(href=departure.tripURL).timing.unknown
          span #{departure.pretyTimeToDeparture}
          span #{departure.scheduledDepartureTime.format('HH:mm')}
else
  div.errorPage
    h2 No Upcoming Departures...
