for departure in departures
  div.departure.no-number
    a.departureInfo
      span.routeName=departure.trip.routeName
      span.towards Towards
      span.destination=departure.destination
      if departure.isTrainReplacement
        -
          let message = 'This is a train replacement coach'
          if (stop.stopName === 'Southern Cross Coach Terminal/Spencer Street') message += ', departing Bays 62 - 70'
          else if (departure.bay) message += `, departing ${departure.bay}`
        span.cancelled.noClamp=message
      else if departure.bay
        span.info Departing #{departure.bay}
    div.timings
      a(href=departure.tripURL).timing.unknown
        span=departure.prettyTimeToArrival
        span=departure.scheduledDepartureTime.format('HH:mm')
