extends ../textbar-layout

block head
  title TransportVic - Search
  
  -
    title = 'Search'
    description = 'Search for your Public Transport stop, station or route here'
  
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/bus.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/coach.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/tram.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/metro.svg`)
  link(rel='preload' as='image' href=`${staticBase}/static/images/clear-icons/vline.svg`)
  link(rel='preload' as='style' href=`${staticBase}/static/css/search.css`)
  link(rel='preload' as='style' href=`${staticBase}/static/css/textbar-style.css`)

block title
  span Search

append style
  link(rel='stylesheet' href=`${staticBase}/static/css/search.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/loading.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/timings/base-style.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/bus-operators.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/combined-colours.css`)

append content
  div#loading(style='display: none')
    div#loading-bar
  div#search-results
