for metroStation in stops.filter(stop => !!stop.bays.find(bay => bay.mode === 'metro train')).slice(0, 3)
  a(href=`/metro/timings/${metroStation.codedName.slice(0, -16)}`).metroStation.result
    div.leftContainer
      img(src='/static/images/clear-icons/metro.svg')
    div.resultDetails
      span='Metro train station in ' + metroStation.suburb[0]
      span=metroStation.stopName
      
for vlineStation in stops.filter(stop => !!stop.bays.find(bay => bay.mode === 'regional train')).slice(0, 3)
  a(href=`/vline/timings/${vlineStation.codedName.slice(0, -16)}`).vlineStation.result
    div.leftContainer
      img(src='/static/images/clear-icons/vline.svg')
    div.resultDetails
      span='V/Line train station in ' + vlineStation.suburb[0]
      span=vlineStation.stopName
      
for regionalCoachStop in stops.filter(stop => !!stop.bays.find(bay => bay.mode === 'regional coach')).slice(0, 3)
  a(href=`/coach/timings/${regionalCoachStop.codedName}`).regionalCoachStop.result
    div.leftContainer
      img(src='/static/images/clear-icons/coach.svg')
    div.resultDetails
      span='Regional coach stop in ' + regionalCoachStop.suburb[0]
      span=regionalCoachStop.stopName
      
for tramStop in stops.filter(stop => !!stop.bays.find(bay => bay.mode === 'tram')).slice(0, 5)
  a(href=`/tram/timings/${tramStop.codedSuburb[0]}/${tramStop.codedName}`).tramStop.result
    div.leftContainer
      img(src='/static/images/clear-icons/tram.svg')
    div.resultDetails
      span='Tram stop in ' + tramStop.suburb[0]
      -
        let displayName = tramStop.stopName
        let stopNumbers = tramStop.bays.filter(bay => bay.mode === 'tram')
          .map(bay => bay.stopNumber).filter(Boolean)
          .filter((e, i, a) => a.indexOf(e) === i)
          .map(stopNumber => `#${stopNumber}`).join(', ')
        displayName += ` ${stopNumbers}`
      span=displayName

for busRoute in routes.filter(route => route.mode === 'bus')
  -
    let hasNumber = !!busRoute.routeNumber
    let url
    if (hasNumber) url = `/bus/route/${busRoute.routeNumber}` 
  a(href=url).route.result
    if hasNumber
      div(class=`leftContainer platform ${encodeName(busRoute.operators[0])}`)
        span.bigNumber=busRoute.routeNumber
    div.resultDetails
      -
        let type = '', gtfsID = busRoute.routeGTFSID[0]
        if (gtfsID === '4') type = 'Metropolitan Bus Route'
        else if (gtfsID === '6') type = 'Regional Bus Route'
        else if (gtfsID === '7') type = 'Telebus'
        else if (gtfsID === '8') type = 'Night Bus'
        
        let name = ''

        if (busRoute.directions.length === 1) {
          if (busRoute.flags) {
            name = `${busRoute.directions[0].directionName} Loop`
            if (!busRoute.flags[1]) {
              name += ` (${busRoute.flags[0]})`
            }
          } else {
            name = busRoute.routeName
          }
        } else {
          name = `${busRoute.directions[0].directionName} - ${busRoute.directions[1].directionName}`
        }
        name = name.replace(/Interchange/g, '').replace(/Railway Station/g, '').replace('Shopping Centre', 'SC').replace(/  +/g, ' ').trim()
      span=type
      span=name

for busStop in stops.filter(stop => !!stop.bays.find(bay => bay.mode === 'bus')).slice(0, 10)
  a(href=`/bus/timings/${busStop.codedSuburb[0]}/${busStop.codedName}`).busStop.result
    div.leftContainer
      img(src='/static/images/clear-icons/bus.svg')
    div.resultDetails
      span='Bus stop in ' + busStop.suburb[0]
      -
        let displayName = busStop.stopName
        let stopNumbers = busStop.bays.filter(bay => bay.mode === 'bus')
          .map(bay => bay.stopNumber).filter(Boolean)
          .filter((e, i, a) => a.indexOf(e) === i)
          .map(stopNumber => `#${stopNumber}`).join(', ')
        displayName += ` ${stopNumbers}`
      span=displayName
      
