for metroStation in results.filter(stop => stop.bays.filter(bay => bay.mode === 'metro train').length)
  a(href=`/metro/timings/${metroStation.codedName.slice(0, -16)}`).metroStation.result
    div.leftContainer
      img(src='/static/images/clear-icons/metro-icon.svg')
    div.resultDetails
      span='Metro train station in ' + metroStation.suburb[0]
      span=metroStation.stopName
      
for metroBusStop in results.filter(stop => stop.bays.filter(bay => bay.mode === 'metro bus').length)
  a(href=`/coach/timings/${metroBusStop.codedName}`).busStop.result
    div.leftContainer
      img(src='/static/images/clear-icons/bus-icon.svg')
    div.resultDetails
      span='Metro bus stop in ' + metroBusStop.suburb[0]
      span=metroBusStop.stopName
      
for vlineStation in results.filter(stop => stop.bays.filter(bay => bay.mode === 'regional train').length)
  a(href=`/vline/timings/${vlineStation.codedName.slice(0, -16)}`).vlineStation.result
    div.leftContainer
      img(src='/static/images/clear-icons/vline-icon.svg')
    div.resultDetails
      span='V/Line train station in ' + vlineStation.suburb[0]
      span=vlineStation.stopName
      
for regionalCoachStop in results.filter(stop => stop.bays.filter(bay => bay.mode === 'regional coach').length)
  a(href=`/coach/timings/${regionalCoachStop.codedName}`).regionalCoachStop.result
    div.leftContainer
      img(src='/static/images/clear-icons/coach-icon.svg')
    div.resultDetails
      span='Regional coach stop in ' + regionalCoachStop.suburb[0]
      span=regionalCoachStop.stopName
      
