html
  head
    script(src=`${staticBase}/static/scripts/util.js`)
    script(src=`${staticBase}/static/scripts/mockups/metro-crt.js` async)
    script(src=`${staticBase}/static/scripts/mockups/pids-utils.js`) 
    link(rel='stylesheet' href=`${staticBase}/static/css/mockups/base-style.css`)
    link(rel='stylesheet' href=`${staticBase}/static/css/mockups/metro-crt.css`)
    
    link(rel='preload' as='style' href=`${staticBase}/static/css/mockups/base-style.css`)
    - let bodyStyle = ''
    - if (query.background) bodyStyle += `background-color: ${query.background};`
    - if (query.color) bodyStyle += ` color: ${query.color};`
    - let departStyle = ''
    - if (query.hideDepart) departStyle += `display: none;`
    body(style=bodyStyle)
    div.crt.leftCRT
      div.destination
        span --
      div.departureInfo
        div.scheduled
          span SCHEDULED
          span.scheduledDepartureTime --
        div.actual(style=departStyle)
          span DEPARTING
          span.departingMinutes -- 
          span.min MIN
      div.stops
        div.left
        div.right
    div.crt.rightCRT
      div.stops
        div.left
        div.right
      div.nextDeparture
        div.divider
          pre -------------------------------------------
        span.scheduledDepartureTime --
        span.destination --
        span.departingMinutes
