html
  head
    link(rel='stylesheet' href='/static/css/mockups/summary.css')
  body
    - let verticalPIDs = ['concourse-interchange', 'fss-escalator', 'pre-platform-vertical']
      
    div.container
      for pid in stationPID
        if pid.concourse
          -
            let fullPIDType = `concourse-${pid.type}`
            let url = `/mockups/metro-lcd/concourse/${station}/${pid.type}`
            if (pid.query) url += '?' + pid.query
          div(class=`pid ${verticalPIDs.includes(fullPIDType) ? 'vertical' : 'horizontal'}`)
            div.title
              a(href=url)=`/${stationCode}/concourse/${pid.type}`
            iframe(src=url)
        else
          
          -
            let url
            let title = `/${stationCode}/platform/${pid.platform}`
            if (pid.type === 'trains-from-fss') {
              url = '/mockups/fss/trains-from-fss'
              title = '/FSS/trains-from-fss'
            }
            if (pid.type === 'half-platform-bold') url = `/mockups/metro-lcd/${station}/${pid.platform}/half-platform-bold`
            if (pid.type === 'half-platform') url = `/mockups/metro-lcd/${station}/${pid.platform}/half-platform`
            if (pid.type === 'platform') url = `/mockups/metro-lcd/${station}/${pid.platform}/platform`
            if (pid.type === 'pre-platform-vertical') url = `/mockups/metro-lcd/${station}/${pid.platform}/pre-platform-vertical`
            if (pid.type === 'fss-escalator') url = `/mockups/fss/escalator/${pid.platform}/${station}/`
            if (pid.type === 'fss-platform') url = `/mockups/fss/platform/${pid.platform}/${station}/`

            let isHalf = pid.type.startsWith('half-')
          div(class=`pid ${isHalf ? 'half' : verticalPIDs.includes(pid.type) ? 'vertical' : 'horizontal'}`)
            div.title
              a(href=url)=title
            iframe(src=url)
