html
  head
    link(rel='stylesheet' href='/static/css/mockups/summary.css')
  body
    - let verticalPIDs = ['concourse-interchange', 'fss-escalator', 'pre-platform-vertical']
      
    div.container
      for pid in stationPID
        if pid.concourse
          -
            let fullPIDType = `concourse-${pid.type}`
            let url = getURL(station, pid)
          div(class=`pid ${verticalPIDs.includes(fullPIDType) ? 'vertical' : 'horizontal'}`)
            div.title
              a(href=url)=`/${stationCode}/concourse/${pid.type}`
            iframe(src=url)
        else
          
          -
            let title = `/${stationCode}/platform/${pid.platform}`
            if (pid.type === 'trains-from-fss') title = '/FSS/trains-from-fss'
            let url = getURL(station, pid)
            let isHalf = pid.type.startsWith('half-')
          div(class=`pid ${isHalf ? 'half' : verticalPIDs.includes(pid.type) ? 'vertical' : 'horizontal'}`)
            div.title
              a(href=url)=title
            iframe(src=url)
