html
  head
    link(rel='stylesheet' href=`${staticBase}/static/css/mockups/summary.css`)
    script(src=`${staticBase}/static/scripts/util.js`)
  body
    - let verticalPIDs = ['concourse-interchange', 'fss-escalator', 'pre-platform-vertical']
    input(type='hidden' name='station-name' value=station)
    div.container
      - for (let i = 1; i <= stationPlatformData.platforms; i++) {
      -
        if (stationPlatformData.exclude.includes(i)) continue
        let url
        if (query.type === 'half-platform-bold') url = `/mockups/metro-lcd/${station}/${i}/half-platform-bold`
        if (query.type === 'half-platform') url = `/mockups/metro-lcd/${station}/${i}/half-platform`
        if (query.type === 'platform') url = `/mockups/metro-lcd/${station}/${i}/platform`
        if (query.type === 'fss-escalator') url = `/mockups/fss/escalator/${i}/${station}/`
        if (query.type === 'fss-platform') url = `/mockups/fss/platform/${i}/${station}/`
        if (query.type === '2-line-led') url = `/mockups/metro-led-pids/${station}/${i}`

        let pidClass
        if (query.type.includes('half-')) {
          pidClass = 'half'
        } else if (verticalPIDs.includes(query.type)) {
          pidClass = 'vertical'
        } else if (query.type === '2-line-led') {
          pidClass = 'two-line-led'
        } else {
          pidClass = 'horizontal'
        }

      div(class=`pid ${pidClass}`)
        div.title
          a(href=url)=`/${stationCode}/platform/${i}`
        iframe(src=url)
      - }
    script(src=`${staticBase}/static/scripts/mockups/summary.js`)