html
  head
    link(rel='stylesheet' href='/static/css/mockups/summary.css')
  body
    div.container
      - for (let i = 1; i <= stationPlatformData.platforms; i++) {
      -
        if (stationPlatformData.exclude.includes(i)) continue
        let url
        if (query.type === 'suburban-text') url = `/mockups/metro-lcd-pids/${station}/${i}/`
        if (query.type === 'suburban-list') url = `/mockups/metro-lcd-pids/${station}/${i}/list`
        if (query.type === 'fss-escalator') url = `/mockups/fss/escalator/${i}/${station}/?scale`
        if (query.type === 'fss-platform') url = `/mockups/fss/platform/${i}/${station}/`

      div(class=`platform ${query.type}`)
        div.title
          a(href=url)=`/${stationCode}/platform/${i}`
        iframe(src=url)
      - }
