html
  head
    link(rel='stylesheet' href='/static/css/mockups/summary.css')
  body
    div.container
      - for (let i = 1; i <= query.platforms; i++) {
      -
        if (query.exclude.includes(i)) continue
        let url
        if ('suburban-text' === query.type) url = `/mockups/metro-lcd-pids/${station}/${i}/`
        if ('suburban-list' === query.type) url = `/mockups/metro-lcd-pids/${station}/${i}/list`

      div.platform
        div.title
          a(href=url)=`/{STATION}/platform/${i}`
        iframe(src=url)
      - }
