html
  head
    link(rel='stylesheet' href='/static/css/mockups/summary.css')
  body
    div.container
      - for (let i = 1; i <= stationPlatformData.platforms; i++) {
      -
        if (stationPlatformData.exclude.includes(i)) continue
        let url
        if (query.type === 'half-platform-bold') url = `/mockups/metro-lcd/${station}/${i}/half-platform-bold`
        if (query.type === 'half-platform') url = `/mockups/metro-lcd/${station}/${i}/half-platform`
        if (query.type === 'platform') url = `/mockups/metro-lcd/${station}/${i}/platform`
        if (query.type === 'fss-escalator') url = `/mockups/fss/escalator/${i}/${station}/`
        if (query.type === 'fss-platform') url = `/mockups/fss/platform/${i}/${station}/`

      div(class=`platform ${query.type}`)
        div.title
          a(href=url)=`/${stationCode}/platform/${i}`
        iframe(src=url)
      - }
