html
  head
    link(rel='stylesheet' href=`${staticBase}/static/css/mockups/summary.css`)
    script(src=`${staticBase}/static/scripts/util.js`)
  body
    - let verticalPIDs = ['concourse-interchange', 'fss-escalator', 'pre-platform-vertical']
    input(type='hidden' name='station-name' value=station)

    div.container
      for pid in stationPID
        if pid.concourse
          -
            let fullPIDType = `concourse-${pid.type}`
            let url = getURL(station, pid)
          div(class=`pid ${verticalPIDs.includes(fullPIDType) ? 'vertical' : 'horizontal'}`)
            div.title
              a(href=url)=`/${stationCode}/concourse/${pid.type}`
            iframe(src=url)
        else
          
          -
            let title = `/${stationCode}/platform/${pid.platform}`
            if (pid.type === 'trains-from-fss') title = '/FSS/trains-from-fss'
            let url = getURL(station, pid)
            let pidClass
            if (pid.type.includes('half-')) {
              pidClass = 'half'
            } else if (verticalPIDs.includes(pid.type)) {
              pidClass = 'vertical'
            } else if (pid.type === '2-line-led') {
              pidClass = 'two-line-led'
            } else {
              pidClass = 'horizontal'
            }
          div(class=`pid ${pidClass}`)
            div.title
              a(href=url)=title
            iframe(src=url)
    script(src=`${staticBase}/static/scripts/mockups/summary.js`)