extends ../../layout

block head
  -
    title = 'TransportVic - Tracker/Bus - By Operator (Unknowns)'
    description = `Tracking all unknown buses run by ${operator}`
  title #{title}
  link(rel='preload' as='style' href=`${staticBase}/static/css/tracker/results.css`)

block title
  span Bus Tracker - By Operator (Unknowns)

block style
  link(rel='stylesheet' href=`${staticBase}/static/css/tracker/results.css`)

block content
  h1.title Tracking Bus Operator #{operator} (Unknowns) on #{date.format('dddd, MMMM Do YYYY')}
  for trip in tripsToday
    div(class=`trip ${trip.active ? '' : 'inactive'}`)
      a(href=trip.url) #{trip.consist[0]}:  #{trip.departureTime} #{trip.origin.split('/')[0]} - #{trip.destination.split('/')[0]} #{trip.routeNumber}

  h1.title Past deployments:
  for day in busesByDay
    a(href=`/bus/tracker/operator-unknown?operator=${operatorCode}&date=${day.date}`).pastDeployment #{day.humanDate} - #{day.buses.join(', ')}
    br
