extends ../../layout

block head
  -
    title = 'TransportVic - Tracker/Bus - By Service'
    description = `Tracking all buses on Service ${service}`
  title #{title}
  link(rel='preload' as='style' href=`${staticBase}/static/css/tracker/results.css`)

block title
  span Bus Tracker - By Service
  
block style
  link(rel='stylesheet' href=`${staticBase}/static/css/tracker/results.css`)

block content
  h1.title Tracking Bus Service #{service} on #{date.format('dddd, MMMM Do YYYY')}
  for trip in tripsToday
    div(class=`trip ${trip.active ? '' : 'inactive'}`)
      a(href=trip.url) #{trip.fleetNumber}: #{trip.departureTime} #{trip.origin.split('/')[0]} - #{trip.destination.split('/')[0]}

  h1.title Past deployments:
  for day in busesByDay
    a(href=`/bus/tracker/service?service=${service}&date=${day.date}`).pastDeployment #{day.humanDate} - #{day.buses.join(', ')}
    br
