extends ../../layout

block head
  -
    title = 'TransportVic - Tracker/Bus - Cross Depot Deployments'
    description = `Tracking Cross Depot bus deployments`
  title #{title}
  link(rel='preload' as='style' href='/static/css/tracker/results.css')

block title
  span Bus Tracker - Cross Depot Deployments
  
block style
  link(rel='stylesheet' href='/static/css/tracker/results.css')

block content
  h1.title Tracking Cross Depot bus deployments on #{date.format('dddd, MMMM Do YYYY')}
  for operator in Object.keys(operators)
    h1.title #{operatorCodes[operator]}
    for trip in operators[operator]
      div(class=`trip ${trip.active ? '' : 'inactive'}`)
        a(href=trip.url) #{trip.fleetNumber}: #{trip.departureTime} #{trip.origin.split('/')[0]} - #{trip.destination.split('/')[0]} #{trip.routeNumber}
