extends ../layout

block head
  title TransportVic - Tracker/By Date
  
block title
  span Bus Deployments By Date

//- block style
//-   link(rel='stylesheet' href='/static/css/tracker.css')

block content
  h1 Bus deployments on #{date}
  for trip in trips
    div.trip
      span #{trip.departureTime} #{trip.origin.split('/')[0]} - #{trip.destination.split('/')[0]} #{trip.routeNumber}
