extends ../layout

block head
  title TransportVic - Tracker/Highlights

block title
  span Unusual Deployments
  
block content
  mixin section(name, trips)
    if trips.length
      h2=name
      for trip in trips
        div.trip
          -
            let displayRego = busMapping[trip.smartrakID] ? `#${busMapping[trip.smartrakID]}` : `@${trip.smartrakID}`
            let {origin, destination} = trip
            let serviceData = busDestinations.service[trip.routeNumber] || {}
            let dA = destination, dB = destination.split('/')[0]
            let oA = origin, oB = origin.split('/')[0]
            
            destination = (serviceData[dA || dB]
              || busDestinations.generic[dA || dB] || dB).replace('Shopping Centre', 'SC')
            origin = (serviceData[oA || oB]
              || busDestinations.generic[oA || oB] || oB).replace('Shopping Centre', 'SC')
          
          span #{trip.departureTime} #{displayRego} #{origin} - #{destination} #{trip.routeNumber}
      br

  +section('Stray Ventura Minibuses', strayMinibuses)
  +section('Stray Ventura Artics', strayArtics)
  +section('Ventura Specials', straySpecials)
  +section('828 B10BLE', strayB10BLEs)
  
  +section('Stray Non-Orbital Smartbuses', strayNonorbitals)
  
  +section('Stray Cranbourne O405NHs', strayO405NH)
  
  +section('Stray Liveried Buses', strayLiveryBuses)
  
  +section('Old Sita Buses', straySitaOld)
  
  +section('Stray 900 SmartBuses', stray900Perm)
  +section('Non-SmartBuses on 900', non900Perm)
  
  +section('Stray CDC Oakleigh Hybrids', strayCOHybrids)
  
  +section('CDC Tullamarine Specials', tullaSpecials)
  +section('Sunbury Specials', sunburySpecials)
  
  +section('Unknown Buses', unknownBuses)
  
  
