extends ../layout
    
block head
  -
    let correctedOrigin = origin === 'Southern Cross Coach Terminal' ? 'Melbourne' : origin
    let correctedDestination = destination === 'Southern Cross Coach Terminal' ? 'Melbourne' : destination
    let tripName = `${trip.departureTime} ${correctedOrigin} to ${correctedDestination}`
    if (routeNumber) {
      tripName = `${trip.departureTime} ${routeNumber} to ${destination}`
    }
    title = `TransportVic - ${tripName}`
    description = `Viewing the ${tripName}`

    switch (trip.mode) {
      case 'bus':
        themeColour = '#d7832c'
        break
      case 'tram':
        themeColour = '#1a942a'
        break
      case 'regional coach':
        themeColour = '#9582b5'
        break
      case 'heritage train':
        themeColour = '#7a562e'
        break
      case 'ferry':
        themeColour = '#03998f'
        break
    }

  title #{title}
block title
  span #{tripName}

block style
  link(rel='stylesheet' href=`${staticBase}/static/css/site-colours.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/timings/base-style.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/bus-operators.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/combined-colours.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/runs/base-style.css`)

block content
  include templates/generic