extends ../layout
    
block head
  -
    let title = `${trip.departureTime} ${origin} to ${destination}`
    if (routeNumber) {
      title = `${trip.departureTime} ${routeNumber} to ${destination}`
    }
  title=`TransportVic - ${title}`
  
  meta(property='og:title' content=`TransportVic - ${title}`)
  meta(property='twitter:title' content=`TransportVic - ${title}`)
  meta(property='og:description' content=`Viewing the ${title}`)
  meta(property='twitter:description' content=`Viewing the ${title}`)
  -
    switch (trip.mode) {
      case 'bus':
        themeColour = '#d7832c'
        break
      case 'tram':
        themeColour = '#20b734'
        break
      case 'regional coach':
        themeColour = '#9582b5'
        break
      case 'ferry':
        themeColour = '#03998f'
        break
    }
    
    
block title
  span=title
  
block style
  link(rel='stylesheet' href='/static/css/timings/base-style.css')
  link(rel='stylesheet' href='/static/css/combined-colours.css')
  link(rel='stylesheet' href='/static/css/runs/base-style.css')

block content
  if trip.vehicleData
    div.infoRow
      span=trip.vehicleData.name
      div.vehicle
        //- placeholder icon
        span
        img(src=`/static/images/icons/optimus.svg`)
  - let hasNumber = !!routeNumber
  div(class=`departure${hasNumber ? '' : ' no-number'}`)
    if hasNumber
      a(class=`leftContainer platform ${routeNumberClass}`)
        if loopDirection
          span.topText=loopDirection
        else if trip.routeDetails
          span.topText=trip.routeDetails
        -
          let className = 'bigNumber'
          if (routeNumber.length > 3) className += ' smaller'
        span(class=className)=routeNumber
    a.departureInfo
      if !hasNumber
        span.routeName=trip.routeName
      span.towards Towards
      span.destination=destination
      if viaText && hasNumber
        span.info.smaller=viaText
      if trip.cancelled
        span.info.cancelled CANCELLED
  div.infoRow
    -
      let stopType = ({
        bus: 'Bus',
        tram: 'Tram',
        'regional coach': 'Coach',
        ferry: 'Ferry'
      })[trip.mode]
    
    span #{stopType} stop
  div.timing-list
    for stop in trip.stopTimings
      div.timingRow(id='stop-' + stop.stopGTFSID)
        a.departureInfo
          -
            let stopParts = stop.stopName.split('/')
            let stopRoad, stopName
            if (stopParts.length >= 2) {
              stopName = stopParts.slice(0, -1).join('/')
              stopRoad = stopParts.slice(-1)[0]
            } else {
              if (stopParts = stop.stopName.match(/^(\d+) (.+)$/)) {
                stopRoad = stopParts[2]
                stopName = stopParts[1] + ' ' + stopRoad
              } else {
                stopName = stop.stopName
                stopRoad = ''
              }
            }
          span.stopRoad=stopRoad
          -
            let displayName = stopName
            if (stop.stopNumber)
              displayName += ` #${stop.stopNumber}`
          span.stopName=displayName
        div(class=`timing ${stop.headwayDevianceClass}`)
          span=stop.prettyTimeToArrival
          span=stop.departureTime || stop.arrivalTime
