extends ../layout
    
block head
  title=`TransportVic - ${trip.departureTime} ${trip.origin} to ${trip.destination}`
  
block title
  -
    function processName(name) { return shorternStopName(name.split('/')[0]) }
    let title = `${trip.departureTime} ${processName(trip.origin)} to ${processName(trip.destination)}`
    if (trip.routeNumber) {
      title = `${trip.departureTime} ${trip.routeNumber} to ${processName(trip.destination)}`
    }
  span=title
  
block style
  link(rel='stylesheet' href='/static/css/runs/base-style.css')
  link(rel='stylesheet' href='/static/css/runs/trains.css')

block content
  if trip.vehicleData
    div.infoRow
      span=trip.vehicleData.name
      div.vehicle
        //- placeholder icon
        span
        img(src=`/static/images/icons/optimus.svg`)
  div.timing-list
    for stop in trip.stopTimings
      div.timingRow(id='stop-' + stop.stopGTFSID)
        a.departureInfo
          -
            let stopParts = stop.stopName.split('/')
            let stopRoad, stopName
            if (stopParts.length === 2) {
              stopName = stopParts[0]
              stopRoad = stopParts[1]
            } else {
              if (stopParts = stop.stopName.match(/^(\d+) (.+)$/)) {
                stopRoad = stopParts[2]
                stopName = stopParts[1] + ' ' + stopRoad
              } else {
                stopName = stop.stopName
                stopRoad = ''
              }
            }
          span.stopRoad=stopRoad
          -
            let displayName = stopName
            if (stop.stopNumber)
              displayName += ` #${stop.stopNumber}`
          span.stopName=displayName
        div(class=`timing ${stop.headwayDevianceClass}`)
          span=stop.prettyTimeToArrival
          span=stop.departureTime || stop.arrivalTime
