extends ../layout
    
block head
  - let title = `${trip.trueDepartureTime} ${trip.trueOrigin.slice(0, -16)} to ${trip.trueDestination.slice(0, -16)}`
  title=`TransportVic - ${title}`
  
  meta(property='og:title' content=`TransportVic - ${title}`)
  meta(property='twitter:title' content=`TransportVic - ${title}`)
  meta(property='og:description' content=`Viewing the ${title}`)
  meta(property='twitter:description' content=`Viewing the ${title}`)
  - themeColour = '#0570c3'

block title
  span=title
  
block style
  link(rel='stylesheet' href='/static/css/runs/base-style.css')
  link(rel='stylesheet' href='/static/css/runs/trains.css')

block content
  if trip.runID
    div.infoRow
      span=`Run ${trip.runID}`
      - let vehicle = trip.vehicle.replace(/ Car/, '')
      if vehicle.match(/\d [A-Za-z]+/)
        - let parts = vehicle.match(/(\d) ([A-Za-z]+)/).slice(1, 3)
        div.vehicle
          span=parts[0] + 'x'
          img(src=`/static/images/icons/${parts[1].toLowerCase()}.svg`)
  div.timing-list
    for stop in trip.stopTimings
      div.timingRow(id='stop-' + stop.stopGTFSID)
        a.departureInfo
          span.stopName=stop.stopName
          if trip.cancelled
            span.info.cancelled CANCELLED
          else if stop.platform
            span.platform=`Platform ${stop.platform}`
        div(class=`timing ${stop.headwayDevianceClass}`)
          span=stop.prettyTimeToArrival
          span=stop.departureTime || stop.arrivalTime
