extends ../layout
    
block head
  -
    let tripName = `${trip.trueDepartureTime} ${trip.trueOrigin.slice(0, -16)} to ${trip.trueDestination.slice(0, -16)}`
    if (trip.routeGTFSID === '2-CCL') tripName = `${trip.trueDepartureTime} City Circle`
    title = `TransportVic - ${tripName}`
    description = `Viewing the ${tripName}`
    themeColour = '#0570c3'

  title #{title}

block title
  span #{tripName}
  
block style
  link(rel='stylesheet' href='/static/css/site-colours.css')
  link(rel='stylesheet' href='/static/css/timings/base-style.css')
  link(rel='stylesheet' href='/static/css/combined-colours.css')
  link(rel='stylesheet' href='/static/css/runs/base-style.css')

block content
  if trip.runID
    div.infoRow
      span=`Run ${trip.runID}`
      if trip.vehicle
        - let vehicle = trip.vehicle.replace(/ Car/, '')
        if vehicle.match(/\d [A-Za-z]+/)
          - let parts = vehicle.match(/(\d) ([A-Za-z]+)/).slice(1, 3)
          div.vehicle
            span=parts[0] + 'x'
            img(src=`/static/images/icons/${parts[1].toLowerCase()}.svg`)
    if trip.consist && trip.consist.length
      div.liveConsist
        span.header Live Tracking
        span.consist=trip.consist.join('-')
  if trip.isRailReplacementBus
    div.departure.noTiming
      -
        let cssClass = `${codedLineName}-line`
        if (trip.routeName === 'City Circle') cssClass = 'city-circle' // Unlikely to happen but just in case
      a(class=`leftContainer ${cssClass}`)
        img(src='/static/images/clear-icons/bus.svg')
      a.departureInfo
        span.towards #{trip.routeName} Towards
        span.destination #{trip.trueDestination.slice(0, -16)}
        span.broadDepartureInfo.important Rail Replacement Bus
    div.infoRow
      span Replacement Bus Stop
  div.timing-list
    for stop in trip.stopTimings
      div.timingRow(id='stop-' + stop.stopGTFSID)
        a.departureInfo
          span.stopName=stop.stopName
          if trip.cancelled
            span.info.cancelled CANCELLED
          else if stop.platform
            span.platform=`Platform ${stop.platform}`
        div(class=`timing ${stop.headwayDevianceClass}`)
          span=stop.pretyTimeToDeparture
          span=stop.departureTime || stop.arrivalTime
