extends ../layout
    
block head
  title=`TransportVic - ${trip.departureTime} ${trip.origin} to ${trip.destination}`
  
block title
  span=`${trip.departureTime} ${trip.origin} to ${trip.destination}`
  
block style
  link(rel='stylesheet' href='/static/css/runs/base-style.css')
  link(rel='stylesheet' href='/static/css/runs/trains.css')

block content
  if trip.runID
    div.infoRow
      span=`Run ${trip.runID}`
      - let vehicle = trip.vehicle.replace(/ Car/, '')
      if vehicle.match(/\d [A-Za-z]+/)
        - let parts = vehicle.match(/(\d) ([A-Za-z]+)/).slice(1, 3)
        div.vehicle
          span=parts[0] + 'x'
          img(src=`/static/images/icons/${parts[1].toLowerCase()}.svg`)
  div.timing-list
    for stop in trip.stopTimings
      div.timingRow(id='stop-' + stop.stopGTFSID)
        a.departureInfo
          span.stopName=stop.stopName
          if trip.cancelled
            span.info.cancelled CANCELLED
          else if stop.platform
            span.platform=`Platform ${stop.platform}`
        div(class=`timing ${stop.headwayDevianceClass}`)
          span=stop.prettyTimeToArrival
          span=stop.departureTime || stop.arrivalTime
