extends ../layout
    
block head
  title=`TransportVic - ${trip.departureTime} ${trip.origin} to ${trip.destination}`
  
block title
  span=`${trip.departureTime} ${trip.origin} to ${trip.destination}`
  
block style
  link(rel='stylesheet' href='/static/css/runs/base-style.css')
  link(rel='stylesheet' href='/static/css/runs/trains.css')

block content
  if trip.runID
    div.infoRow
      span=`Run ${trip.runID}`
      -
        let {vehicle} = trip
        let parts
        if (vehicle) {
          if (vehicle.startsWith('N'))
            parts = [null, 'N']
          else if (vehicle.includes('VL')) {
            let count = (vehicle.match(/^(\d)x/) || [0, 1])[1]
            parts = [count, 'vlocity']
          } else {
            parts = vehicle.match(/(\d)x ([A-Za-z]+)/).slice(1, 3)
            if (parts[1] === 'SP') parts[1] = 'sprinter'
          }
        }
      if vehicle
        div.vehicle
          if parts[0]
            span=parts[0] + 'x'
          else
            span
          img(src=`/static/images/icons/${parts[1].toLowerCase()}.svg`)
  div.timing-list
    for stop in trip.stopTimings
      div.timingRow
        a.departureInfo
          span.stopRoad
          span.stopName=stop.stopName
        div.timing.unknown
          span=stop.prettyTimeToArrival
          span=stop.departureTime || stop.arrivalTime
