extends ../layout
    
block head
  -
    let tripName = `${trip.departureTime} ${trip.origin.slice(0, -16)} to ${trip.destination.slice(0, -16)}`
    title = `TransportVic - ${tripName}`
    description = `Viewing the ${tripName}`
    themeColour = '#6b4d9e'

  title #{title}

block title
  span #{tripName}

block style
  link(rel='stylesheet' href=`${staticBase}/static/css/site-colours.css`)
  link(rel='stylesheet' href=`${staticBase}/static/css/runs/base-style.css`)

block content
  include templates/vline