html
  head
    script(src=`${staticBase}/static/scripts/util.js`)
    script(src=`${staticBase}/static/scripts/mockups/pids-utils.js` async)
    script(src=`${staticBase}/static/scripts/mockups/metro-lcd/platform.js` async)
    link(rel='stylesheet' href=`${staticBase}/static/css/mockups/base-style.css`)
    link(rel='stylesheet' href=`${staticBase}/static/css/mockups/16-9-pids-base.css`)
    link(rel='stylesheet' href=`${staticBase}/static/css/mockups/metro-lcd/platform.css`)
      
    link(rel='preload' as='style' href=`${staticBase}/static/css/mockups/base-style.css`)
    link(rel='preload' as='style' href=`${staticBase}/static/css/mockups/16-9-pids-base.css`)
    link(rel='preload' as='image' href=`${staticBase}/static/images/mockups/announcements.svg`)
    link(rel='preload' as='image' href=`${staticBase}/static/images/mockups/no-boarding-train.svg`)
    input(type='hidden' name='csrf' value=csrf)
    input(type='hidden' name='platform' value=platform)
  body
    div.content
      div(style='display: none;').fullMessage
        img(src=`${staticBase}/static/images/mockups/announcements.svg`)
        p Please Listen
        p for Announcements
      div(style='display: flex;').message
        p.large Checking departures
        p.large Please wait...
      div(style='display: none;').nextDeparture
        div.departureInfo
          span.text.firstDestination
          div.text.scheduledDiv
            span Scheduled
            span --
          div.text.actualDiv
            span Departing
            div
              span --
              span min
          div.burnLine.reset
        div.hozWhiteLine
        div.serviceMessage
          
        div.stops
      div(style='display: block;').followingDepartures  
        div.followingDeparture
          span.scheduled --
          span.destination --
          span.stoppingType
          span.actual --
        div.followingDeparture
          span.scheduled --
          span.destination --
          span.stoppingType
          span.actual --
